@charset "UTF-8";
.nanum-gothic-regular{
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

html,body{
    font-family: "Nanum Gothic", sans-serif;
    font-size: 15px;
}

#join{
    width: 500px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 4px 4px 0 #ccc;
}

#join fieldset h2{
    margin: 40px 0 40px 28px;
    color: #333;
}

#join .login-box{
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input::placeholder{
    color: #999;
}
input[name="id"],
input[name="pw"]{
    display: block;
    width: 100%;
    height: 32px;
    text-indent: 8px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 1px #ccc;
    outline: none;
    color: #333;
}

#join fieldset > span{
    margin: 0 0 0 28px;
}

input[name="login"]{
    display: block;
    height: 60px;
    width: 90%;
    margin: 20px auto;
    border: 0;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

#join .link-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}
#join .link-box li span a{
    color: #333;
}
#join .link-box li span:hover a{
    border-bottom: solid 1px #333;
}
#join .lineEffect{
    display: inline-block;
    width: 0;
    height: 10px;
    background-color: #333;
    border-right: solid 1px #333;
}

#join .sns-login{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 40px auto 40px;
    text-align: center;
    padding: 20px 20px 0;
    border-top: solid 1px #ccc;
}
#join .sns-login li{
    width: 30%;
}
#join .sns-login li a{
    display: block;
    line-height: 30px;
    height: 30px;
    border-radius: 4px;
}
#join .facebook{
    background-color: #3b5997;
    color: #fff;
}
#join .google{
    background-color: #fff;
    border: solid 1px #333;
    box-sizing: border-box;
    color: #333;
}
#join .naver{
    background-color: #3dbb19;
    color: #fff;
}