#kgmHeader{
    a{
        color: #333;
    }
    img{
        display: block;
    }
    width: 100%;
    .logo_gnb{
        gap: 2.5rem;
        h1{
            a{
                display: block;
            }
        }
        #GNB{
            gap: 1.25rem;
            li{
                a{
                    font-size: 1.125rem;
                    line-height: 5rem;
                }
            }
        }
    }
}