@charset "UTF-8";
@import './_var.scss';



#main{
    position: relative;
    transform: translateY(-80px);
    z-index: 2;


    // 메인 배너
    #mainBanner{
        #main-banner{
            width: 100%;
            height: 100%;
            .swiper-wrapper{
                .swiper-slide{
                    position: relative;
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                    p{
                        position: absolute;
                        width: max-content;
                        top: 342px;
                        color: #FFF;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        @include f-80-500-140;
                    }
                    .main01{
                        left: 118px;
                    }
                    .main02{
                        right: 90px;
                    }
                    .main03{
                        left: 131px;
                    }
                    .main04{
                        right: 143px;
                    }
                }
            }
            .swiper-pagination{
                bottom: 100px;
            }
            .swiper-pagination-bullet {
                width: 4px;
                height: 4px;
                opacity: 1;
                background-color: #fff;
            }
            .swiper-pagination-bullet-active {
                width: 12px;
                height: 12px;
                border: 2px solid #FFF;
                background-color: transparent;
            }
        }
    }


    // 유니버스 소개
    #introduction{
        color: #fff;
        text-align: center;
        background-color: #333;
        padding: 160px 0;
        .title{
            h2{
                font-size: 4.125rem;
                font-weight: 700;
                span{
                    font-size: 3.125rem;
                    font-weight: 700;
                }
            }
            p{
                font-size: 1.5rem;
                font-weight: 500;
            }
        }
    }


    // 아티스트
    #artist{
        padding: 100px 0;
        color: #FFF;
        background: url("../img/bg/bg01.jpg") no-repeat 80% 0 / cover;
        .title{
            h2{
                @include titleH2;
            }
            p{
                @include subTitleP;
            }
        }
        .artistBox{
            overflow: hidden;
            width: 100%;
            position: relative;
            #artist-slide{
                width: 100%;
                .swiper-wrapper{
                    height: 992px;
                    padding: 60px 0 72px;
                    .swiper-slide {
                        opacity: 0;
                        &.swiper-slide-active {
                            transform: scale(1.5) !important;
                            background-size: 85% !important;
                            opacity: 1;
                        }
                        &.swiper-slide-prev {
                            transform: scale(1.7) !important;
                            background-position: right 50% !important;
                            background-size: 85% !important;
                            opacity: 0.2;
                        }
                        &.swiper-slide-next {
                            transform: scale(1.7) !important;
                            background-position: left 50% !important;
                            background-size: 85% !important;
                            opacity: 0.2;
                        }
                    }
                }
                .artist01{
                    background: url('/img/artist/img01.png') no-repeat center / cover;
                }
                .artist02{
                    background: url('/img/artist/img02.png') no-repeat center / cover;
                }
                .artist03{
                    background: url('/img/artist/img03.png') no-repeat center / cover;
                }
                .artist04{
                    background: url('/img/artist/img04.png') no-repeat center / cover;
                }
                .artist05{
                    background: url('/img/artist/img05.png') no-repeat center / cover;
                }
                .swiper-pagination-bullets.swiper-pagination-horizontal{
                    bottom: 0;
                }
                .swiper-pagination-bullet {
                    width: 4px;
                    height: 4px;
                    opacity: 1;
                    background-color: #fff;
                }
                .swiper-pagination-bullet-active {
                    width: 12px;
                    height: 12px;
                    border: 2px solid #FFF;
                    background-color: transparent;
                }
            }
        }
    }



    // 스케줄 달력
    #schedule{
        background-color: #333;
        color: #FFF;
        padding: 100px 0px;
        .title{
            h2{
                @include titleH2;
            }
            p{
                @include subTitleP;
            }
        }
        .schedule-artist{
            .schedule-name{
                margin: 60px 0;
                .nav-item{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .nav-link{
                        color: #FFF;
                        font-size: 1.5rem;
                        font-weight: 400;
                        line-height: 36px;
                        padding: 0 76px;
                        border: 0;
                        &.active{
                            background-color: transparent;
                            border: 0;
                            font-weight: 700;
                        }
                        &:hover{
                            border: 0;
                        }
                    }
                    .nav-line{
                        width: 1px;
                        height: 20px;
                        background-color: #fff;
                    }
                }
            }
            #scheduleTabContent{
                max-width: 1280px;
                width: 100%;
                margin: 0 auto;
                &> .active{
                    display: flex;
                    flex-direction: column;
                }
                .tab-pane{
                    .artist-schedule{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 15px 44px 15px 32px;
                        background-color: #fff;
                        border-radius: 20px 20px 0px 0px;
                        span{
                            color: #000;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 36px;
                        }
                        img{
                            width: 94px;
                        }
                    }
                    .week01{
                        width: 100%;
                        color: #000;
                        background-color: #fff;
                        margin-top: 28px;
                    }
                    .fc-theme-standard td, 
                    .fc-theme-standard th,
                    .fc-scrollgrid-liquid{
                        border: 0 !important;
                    }
                    .fc-daygrid-body table tbody tr[role="row"]:not(:nth-child(1)),
                    .fc-toolbar.fc-header-toolbar,
                    .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
                        display: none;
                    }
                    .fc-scroller-liquid-absolute,
                    .fc-scroller {
                        overflow: hidden !important;
                    }
                    #calendar01 {
                        max-width: 1280px;
                        color: #000;
                        background-color: #fff;
                        .fc-daygrid-day {
                            &.fc-day-today {
                                background-color: transparent !important;
                                .fc-daygrid-day-top {
                                    > a {
                                        border: solid 2px #333;
                                        padding: 30px;
                                        border-radius: 50%;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                        .fc-daygrid-day-top {
                            display: block;
                            height: 150px;
                            line-height: 150px;
                            text-align: center;
                            & > a {
                                &.eventText {
                                    border: solid 2px #ff0000;
                                    padding: 30px;
                                    border-radius: 50%;
                                    font-weight: bold;
                                }
                            }
                        }
                        .fc-daygrid-day-number {
                            @include f-24-700-36;
                            text-align: center;
                        }
                        .fc-col-header-cell-cushion {
                            display: block;
                            padding: 0;
                            height: 50px;
                            line-height: 50px;
                            font-size: 24px;
                            font-weight: 700;
                        }
                    }
                    .fc-view-harness{
                        height: 200px !important;
                    }
                }
            }
        }
    }


    // 릴리즈
    // #release{
    //     color: #fff;
    //     background: url('../img/bg/bg02.jpg') rgba(0, 0, 0, 0.7) no-repeat 0 0 / cover;
    //     background-blend-mode: overlay;
    //     .title{
    //         h2{
    //             @include titleH2;
    //         }
    //         p{
    //             @include subTitleP;
    //         }
    //     }
    //     #release-slide{
    //         width: 1280px;
    //         overflow: hidden;
    //         margin: 60px auto;
    //         box-sizing: border-box;
    //         .swiper-wrapper{
    //             border-radius: 20px;
    //             .swiper-slide{
    //                 display: flex;
    //                 min-width: 610px;
    //                 height: 606px;
    //                 padding: 60px 0px;
    //                 flex-direction: column;
    //                 align-items: center;
    //                 justify-content: center;
    //                 gap: 40px;
    //                 border-radius: 20px;
    //                 .releaseInfo{
    //                     text-align: center;
    //                     h3{
    //                         padding-bottom: 10px;
    //                         color: #767676;
    //                         font-size: 1.5rem;
    //                         font-weight: 700;
    //                         line-height: 36px;
    //                     }
    //                     p{
    //                         padding-bottom: 10px;
    //                         color: #767676;
    //                         font-weight: 700;
    //                         line-height: 24px;
    //                     }
    //                 }
    //                 img{
    //                     width: 450px;
    //                     height: 450px;
    //                     border-radius: 20px;
    //                 }
    //                 &.swiper-slide-active {
    //                     background: #232323;
    //                     border-radius: 20px;
    //                     h3{
    //                         color: #fff;
    //                     }
    //                 }
    //             }
    //         }
    //         // &.swiper-3d{
    //         //     perspective: none;
    //         // }
    //         .swiper-pagination-bullet {
    //             width: 4px;
    //             height: 4px;
    //             opacity: 1;
    //             background-color: #fff;
    //         }
    //         .swiper-pagination-bullet-active {
    //             width: 12px;
    //             height: 12px;
    //             border: 2px solid #FFF;
    //             background-color: transparent;
    //         }
    //     }
    //     .moreBtn{
    //         @include moreBtn;
    //     }
    // }
    #release{
        color: #fff;
        background: url('../img/bg/bg02.jpg') rgba(0, 0, 0, 0.7) no-repeat 0 0 / cover;
        background-blend-mode: overlay;
        .title{
            h2{
                @include titleH2;
            }
            p{
                @include subTitleP;
            }
        }
        #release-slide{
            max-width: 1280px;
            .swiper-wrapper{
                max-width: 600px;
                height: 726px;
                .swiper-slide{
                    .releaseInfo{
                        h3{
                            padding-bottom: 10px;
                            color: #767676;
                            font-size: 1.5rem;
                            font-weight: 700;
                            line-height: 36px;
                        }
                        p{
                            padding-bottom: 10px;
                            color: #767676;
                            font-weight: 700;
                            line-height: 24px;
                        }
                    }
                    img{
                        width: 450px;
                        height: 450px;
                        border-radius: 20px;
                        object-fit: cover;
                    }
                }
            }
        }
    }


    // 굿즈
    #goods{
        color: #fff;
        padding: 100px 0;
        .title{
            h2{
                @include titleH2;
            }
            p{
                @include subTitleP;
            }
        }
        .gallery-wrap{
            display: flex;
            justify-content: space-between;
            width: 1280px;
            gap: 20px;
            margin-top: 60px;
            .item{
                flex: .3;
                width: 300px;
                height: 500px;
                transition: flex 0.8s ease;
                border-radius: 10px;
                position: relative;
                .gallery-dim{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 34px;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.70);
                    backdrop-filter: blur(3px);
                    opacity: 0; /* 기본 상태에서 보이지 않음 */
                    transition: opacity 0.6s ease; /* 자연스러운 전환 효과 */
                    &.show{
                        opacity: 1;
                        p,a{
                            opacity: 1;
                            transition-delay: 0.1s;
                        }
                    }
                    p{
                        color: #FFF;
                        text-align: center;
                        font-size: 1.5rem;
                        font-weight: 700;
                        line-height: 36px;
                        opacity: 0;
                        transition: opacity 0.4s ease;
                    }
                    a{
                        color: #FFF;
                        text-align: center;
                        font-weight: 700;
                        line-height: 36px;
                        opacity: 0;
                        transition: opacity 0.4s ease;
                        span{ 
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            border-top: solid 2px #fff;
                            border-right: solid 2px #fff;
                            transform: rotate(45deg) translate(1px, -2px);
                        }
                    }
                }
            }
            .item-1 { 
                background: #404040 url('../img/goods/img02.png') no-repeat center / contain;
                background-size: 80%;
                transition: .6s ease;
                &:hover{
                    flex: 1;
                    background-size: 60%;
                }
            }
            
            .item-2 { 
                background: #fff url('../img/goods/img01.png') no-repeat center / contain;
                background-size: 50%;
                transition: .6s ease;
                &:hover{
                    flex: 1;
                    background-size: 34%;
                }
            }
            
            .item-3 { 
                background: #404040 url('../img/goods/img03.png') no-repeat center / contain;
                background-size: 36%;
                transition: .6s ease;
                &:hover{
                    flex: 1;
                    background-size: 20%;
                }
            }

            .item-4 { 
                background: #fff url('../img/goods/img04.png') no-repeat center / contain;
                background-size: 80%;
                transition: .6s ease;
                &:hover{
                    flex: 1;
                    background-size: 60%;
                }
            }
        }
    }
}

#audition{
    background-color: #fff;
    height: 100vh;
}