@import './_var.scss';
// 필수(768,580,320)
@media (max-width: 1720px) {
    #sub-artist{
        .nav-sticky{
            position: relative;
            top: 17%;
        }
    }
}


@media (max-width: 1440px) {
    #sub-artist{
        .container-1280{
            padding: 0 1rem;
            #myTabContent{
                .tab-pane{
                    .artist-content{
                        .sub-artist-info-3{
                            .sub-artist-disco-swiper{
                                .swiper-wrapper{
                                    .swiper-slide{
                                        .disco-title{
                                            font-size: 1.3rem;
                                        }
                                        .disco-sub{
    
                                        }
                                    }
    
                                }
                            }
                        }
                    }
                }
            }
        }
        .nav-sticky{
            #artist-list{
                padding: 0.625rem 1.25rem 0.625rem 2.5rem;
            }
        }
    }
}

@media (max-width: 1280px) {
    #sub-artist{
        // .container-1280{
        //     #myTabContent{
        //         .tab-pane{
        //             .artist-content{
        //                 .sub-artist-info{

        //                 }
        //             }
        //         }
        //     }
        // }
        .nav-sticky{
            #artist-list{
                padding: 0.625rem 0.4rem 0.625rem;
            }
        }
    }
}

@media (max-width: 990px) {
    #sub-artist{
        .container-1280{
            #myTabContent{
                .tab-pane{
                    h2{
                        font-size: 3rem;
                    }
                    .artist-content{
                        .frame-wrap{
                            gap: 2rem;
                        }
                        .sub-artist-info{
                            h3{
                                font-size: 2rem;
                            }
                            .info-detail{
                                padding: 0.625rem 0 0 6rem;
                            }
                        }
                        .sub-artist-info-1{
                            padding-left: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #sub-artist{
        padding-top: 5.25rem;
        .btn-more{
            padding-top: .375rem;
        }
        .container-1280{
            width: 100%;
            padding: 0;
            #myTabContent{
                .tab-pane{
                    h2{
                        @include f-36-700-52;
                        padding-left: 1.25rem;
                    }
                    .artist-content{
                        .frame-wrap{
                            display: none;
                        }
                        .sub-artist-main-swiper{
                            display: block;
                            margin-top: 2.5rem;
                            padding: 0;
                            .swiper-pagination{
                                position: relative;
                                margin-top: 2.5rem;
                            }
                        }
                        .sub-artist-info{
                            h3{
                                @include f-36-700-52;
                                padding: 0 0 2.5rem;
                                width: 100%;
                            }
                            .info-detail{
                                width: 100%;
                                padding: 0;
                            }

                        }
                        .sub-artist-info-1{
                            width: 100%;
                            position: relative;
                            padding: 2.5rem 1.25rem;
                            p{
                                padding: 0;
                            }
                            .goods-btn{
                                margin-top: 2.5rem
                            }
                        }
                        .sub-artist-info-2{
                            margin: 0;
                            flex-direction: column;
                            padding: 2.5rem 1.25rem;
                            // h3{
                            //     // padding: 0 0 2.5rem ;
                            // }
                            .info-detail{
                                // padding: 0;
                                .info-2-title{
                                    .nav-item{
                                        padding-right: 1.25rem;
                                        h4{
                                            @include f-18-400-26;
                                            .nav-link{
                                                &.active{
                                                    @include f-18-700-26;
                                                }
                                            }
                                        }
                                    }
                                }
                                .info-2-detail{
                                    padding-top: 1.875rem;
                                    .tab-pane{
                                        .actors-history{
                                            li{
                                                padding-bottom: 1.5rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .sub-artist-info-3{
                            margin: 0;
                            flex-direction: column;
                            padding: 2.5rem 1.25rem;
                        }
                        .sub-artist-info-4{
                            flex-direction: column;
                            margin-bottom: 0;
                            padding: 2.5rem 1.25rem;
                            .info-detail{
                                h4{
                                    @include f-18-700-26;
                                    &::after{
                                        width: 67px;
                                    }
                                }
                                .actors-history{
                                    padding-top: 1.875rem;
                                    li{
                                        padding-bottom: 1.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .nav-sticky{
            margin: 0;
            width: 435px;
            top: 40px;
            left: 20px;
            position: absolute;
            #artist-list{
                width: 100%;
                padding: 0;
                position: relative;
                top: 0;
                height: 100%;
                border: 0;
                flex-direction: row;
                .toggle-nav{
                    color: #a4a4a4;
                    background-color: #fff;
                    margin: 0;
                    display: flex;
                    gap: .25rem;
                    align-items: center;
                    &::after{
                        content: '';
                        width: 10px;
                        height: 10px;
                        border-top: solid 2px #a4a4a4;
                        border-right: solid 2px #a4a4a4;
                        transform: rotate(45deg);
                        margin-top: 0.0625rem;
                    }
                    &.active::after {
                        margin-left: .5rem;
                        transform: rotate(-135deg);
                    }
                }
                .item-wrap{
                    display: flex;
                    gap: 1.25rem;
                    width: 70%;
                    position: relative;
                    margin-left: .625rem;
                    &.show{
                        .nav-item{
                            left: 0;
                            position: relative;
                            opacity: 1;
                            visibility: visible;
                            z-index: 999;
                            margin-bottom: 0;
                            .nav-link{
                                color: #333;
                            }
                        }
                    }
                    .nav-item{
                        width: 100%;
                        position: absolute;
                        left: -100px;
                        top: 0;
                        visibility: hidden;
                        opacity: 0;
                        transition: all 0.4s ease;
                        z-index: -1;
                        .nav-link{
                            transition: all 0.4s ease;
                            color: #fff;
                        }
                        .nav-link,.nav-link.active{
                            font-weight: 400;
                            
                        }
                    }

    
                }
            }
        }
    }
    
}

@media (max-width: 580px) {

}

@media (max-width: 480px) {
    #sub-artist{
        .nav-sticky{
            width: 100px;
            background-color: #fff;
            #artist-list{
                display: block;
                .toggle-nav{
                    &::after{
                        transform: rotate(-225deg);
                        margin: 0.0625rem 0 0.3rem 0.5rem ;
                    }
                    &.active::after {
                        transform: rotate(-45deg);
                        margin: 0.4rem 0 0 0.5rem ;
                    }
                    &.active{}

                }
                .item-wrap{
                    display: block;
                    margin-top: .625rem;

                    &.show{
                        .nav-item{
                            margin-bottom: 0.625rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {

}