@import './_var.scss';



@media (max-width: 1630px) {
    #footer{
        display: none !important;
    }
}


@media (max-width: 1599px) {
    #main{
        #mainBanner{
            #main-banner{
                .swiper-wrapper{
                    .swiper-slide{
                        p{
                            top: 270px;
                            font-size: 4rem;
                            line-height: 1.5;
                        }
                    }
                }
                .swiper-pagination{
                    bottom: 50px;
                }
            }
        }
    }
}


@media (min-width: 1631px) {
    #footer-1280{
        display: none !important;
    }
}


@media (max-width: 1280px) {
    #main{
        #mainBanner{
            #main-banner{
                .swiper-wrapper{
                    .swiper-slide{
                        p{
                            top: 230px;
                            font-size: 3.6rem;
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 1080px) {
    #header{
        .header-bg{
            padding: 0rem 5rem;
        }
        #pc-search{
            margin-right: 5rem;
        }
    }
    
    #header-b{
        .header-b-bg{
            padding: 0rem 5rem;
        }
        #pc-search{
            margin-right: 5rem;
        }
    }

    #main{
        #mainBanner{
            #main-banner{
                .swiper-wrapper{
                    .swiper-slide{
                        p{
                            top: 200px;
                        }
                        .main01{
                            left: 50px;
                        }
                        .main02{
                            right: 50px;
                        }
                        .main03{
                            left: 60px;
                        }
                        .main04{
                            right: 40px;
                        }
                    }
                }
                .swiper-pagination{
                    bottom: 30px;
                }
            }
        }
    }
}


@media (max-width: 991px) {
    .disN{
        display: block;
    }

    #header{
        .header-bg{
            padding: 0rem 1rem;
            .hdcontainer{
                .maunUtil{
                    gap: 10px !important;
                    .utility{
                        gap: .5rem !important;
                    }
                }
            }
        }
        #pc-search{
            margin-right: 1rem;
        }
    }
    #header-b{
        .header-b-bg{
            padding: 0rem 1rem;
            .hdcontainer{
                .maunUtil{
                    gap: 10px !important;
                    .utility{
                        gap: .5rem !important;
                    }
                }
            }
        }
        #pc-search{
            margin-right: 1rem;
        }
    }
    #main{
        #mainBanner{
            #main-banner{
                .swiper-wrapper{
                    .swiper-slide{
                        p{
                            color: #000;
                            text-transform: uppercase;
                            font-size: 2.5rem;
                            font-weight: 700;
                            line-height: 52px;
                        }
                        .main01{
                            top: calc(100% - 174px);
                            left: calc(100% - 588px);
                        }
                        .main02{
                            right: 50px;
                        }
                        .main03{
                            left: 60px;
                        }
                        .main04{
                            right: 40px;
                        }
                    }
                }
                .swiper-pagination{
                    bottom: 34px;
                    gap: 20px !important;
                }
                .swiper-pagination-bullet {
                    background-color: #A4A4A4;
                }
                .swiper-pagination-bullet-active {
                    border: 2px solid #A4A4A4;
                    background-color: transparent;
                }
            }
        }
        #introduction{
            margin: 140px auto;
            .title{
                padding: 0;
            }
        }
    }
}


@media (max-width: 767px) {
.disN{
    display: none;
}
.introN{
    display: block;
}

    #header{
        .header-bg{
            padding: 0rem 1rem;
            .hdcontainer{
                .maunUtil{
                    gap: 0px !important;
                }
            }
        }
    }
    #header-b{
        .header-b-bg{
            padding: 0rem 1rem;
            .hdcontainer{
                .maunUtil{
                    gap: 0px !important;
                }
            }
        }
    }

    #main{
        transform: translateY(0);
        #mainBanner{
            #main-banner{
                .swiper-wrapper{
                    .swiper-slide{
                        p{
                            font-size: 2.25rem;
                        }
                        .main01{
                            top: calc(100% - 144px);
                            left: calc(100% - 506px);
                        }
                        .main02{
                            right: 50px; 
                        }
                        .main03{
                            left: 60px;
                        }
                        .main04{
                            right: 40px;
                        }
                    }
                }
                .swiper-pagination{
                    bottom: 18px;
                }
            }
        }
        #introduction{
            gap: 30px !important;
            background-color: #333333;
            padding: 140px 0;
            margin: 0 auto;
            .title{
                h2{
                    @include f-36-700-52;
                    text-transform: uppercase;
                    span{
                        @include f-36-700-52;
                    }
                }
                p{
                    @include f-24-400-36;
                }
            }
        }
    }
}


@media (max-width: 680px) {
    #main{
        #introduction{
            .title{
                h2{
                    font-size: 1.875rem;
                    span{
                        font-size: 1.875rem;
                    }
                }
                p{
                    font-size: 1.25rem;
                }
            }
        }
    }
}


@media (max-width: 580px) {
    #m-header{
        .m-header-bg{
            .hdcontainer{
                .m-nav{
                    width: 292px;
                }
            }
        }
    }
    #main{
        #mainBanner{
            #main-banner{
                .swiper-wrapper{
                    .swiper-slide{
                        p{
                            font-size: 1.5rem;
                            line-height: 36px;
                        }
                        .main01{
                            top: calc(100% - 138px);
                            left: calc(100% - 348px);
                        }
                        .main02{
                            right: 50px; 
                        }
                        .main03{
                            left: 60px;
                        }
                        .main04{
                            right: 40px;
                        }
                    }
                }
                .swiper-pagination{
                    bottom: 20px;
                }
            }
        }
    }
}


@media (max-width: 500px) {
    html, body{
        font-size: 14px;
    }

    #m-header{
        .m-header-bg{
            padding: 14px 10px;
            .hdcontainer{
                .navBtn{
                    gap: 6px;
                    span{
                        height: 2px;
                    }
                }
                h1{
                    .emptyBox{
                        width: 30px;
                    }
                    a{
                        img{
                            width: 96%;
                        }
                    }
                }
                .m-utility{
                    gap: 4px !important;
                }
            }
        }
    }

    #m-footer{
        .m-footerBox{
            width: 320px;
            .info02{
                .text01{
                    display: block !important;
                    .t01{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}


@media (max-width: 400px) {
    html, body{
        font-size: 12px;
    }

    #main{
        #mainBanner{
            #main-banner{
                .swiper-wrapper{
                    .swiper-slide{
                        p{
                            line-height: 26px;
                        }
                        .main01{
                            top: calc(100% - 100px);
                            left: calc(100% - 290px);
                        }
                        .main02{
                            right: 50px; 
                        }
                        .main03{
                            left: 60px;
                        }
                        .main04{
                            right: 40px;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 350px) {
    #m-search{
        .searchBox{
            #m-searchText{
                width: 190px;
            }
        }
    }
}