<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIVERSE ENT.</title>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/js/swiper-11.1.14/package/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/scss/common.min.css?var=<?php echo time(); ?>">
    <link rel="stylesheet" href="/scss/layout.min.css?var=<?php echo time(); ?>">
    <link rel="stylesheet" href="/scss/eo.min.css?var=<?php echo time(); ?>">
    <link rel="stylesheet" href="/scss/media_eo.min.css?var=<?php echo time(); ?>">
    <link rel="stylesheet" href="/scss/shim.min.css?var=<?php echo time(); ?>">
    <link rel="stylesheet" href="/scss/media_shim.min.css?var=<?php echo time(); ?>">
    <link rel="stylesheet" href="/scss/bae.min.css?var=<?php echo time(); ?>">
    <link rel="stylesheet" href="/scss/media_bae.min.css?var=<?php echo time(); ?>">
    <link rel="stylesheet" href="/scss/main.min.css?var=<?php echo time(); ?>">
    <link rel="stylesheet" href="/scss/media_han.min.css?var=<?php echo time(); ?>">

</head>
<body>


        <!-- PC 헤더 블랙 버전-->
        <header id="header-b" class="d-none d-md-block">
            <div class="header-b-bg">
                <div class="hdcontainer d-flex justify-content-between align-items-center">
                    <h1 class="d-flex align-items-center">
                        <a href="/" class="d-block"><img src="/img/main/logo.svg" alt="유니버스 엔터테인먼트 메인 로고 입니다"></a>
                        <span class="blind">유니버스 엔터테인먼트 UNIVERSE ENTERTAINMENT</span>
                    </h1>
                    <div class="maunUtil d-flex align-items-center gap-20">
                        <nav>
                            <ul class="depth01 d-flex">
                                <li><a href="/sub/info.html">회사소개</a></li>
                                <li><a href="/sub/artist.html">아티스트</a></li>
                                <li><a href="/sub/schedule.html">스케줄</a></li>
                                <li><a href="/sub/goods.html">굿즈</a></li>
                                <li><a href="/sub/audition.html">오디션</a></li>
                            </ul>
                        </nav>
                        <ul class="utility d-flex align-items-center gap-3">
                            <li><a href="#none" class="pc-searchOn"><img src="/img/icon/Search.svg" alt="검색 아이콘입니다"></a></li>
                            <li><a href="/sub/login.html"><img src="/img/icon/Lock.svg" alt="로그인 아이콘입니다"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- PC 검색창 -->
            <div id="pc-search">
                <form class="searchBox d-flex justify-content-between align-items-center">
                    <input type="text" id="pc-searchText" placeholder="검색어를 입력해 주세요." class="border-0">
                    <button type="submit" class="pc-searchBtn border-0"></button>
                </form>
            </div>
        </header>


        <!-- M 헤더-->
        <section id="m-header" class="d-block d-md-none">
            <div class="m-header-bg">
                <div class="hdcontainer d-flex justify-content-between align-items-center">
                    <button class="navBtn d-flex flex-column justify-content-center align-items-center">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <nav class="m-nav d-flex flex-column">
                        <ul class="depth01">
                            <li class="d-flex flex-column justify-content-center">
                                <a href="/sub/info.html" class="d-flex align-items-center gap-10">회사소개</a>
                            </li>
                            <li class="d-flex flex-column justify-content-center">
                                <a href="/sub/artist.html" class="d-flex align-items-center gap-10">아티스트</a>
                            </li>
                            <li class="d-flex flex-column justify-content-center">
                                <a href="/sub/schedule.html" class="d-flex align-items-center gap-10">스케줄</a>
                            </li>
                            <li class="d-flex flex-column justify-content-center">
                                <a href="/sub/goods.html" class="d-flex align-items-center gap-10">굿즈</a>
                            </li>
                            <li class="d-flex flex-column justify-content-center">
                                <a href="/sub/audition.html" class="d-flex align-items-center gap-10">오디션</a>
                            </li>
                            <li class="d-flex flex-column justify-content-center">
                                <a href="#none" class="d-flex align-items-center gap-10">고객센터</a></li>
                        </ul>
                        <ul class="depth02 d-flex flex-column">
                            <li><a href="tel:0212345678">+82-2-1234-5678</a></li>
                            <li><a href="#none">개인정보취급방침</a></li>
                            <li><a href="#none">이메일주소 무단수집거부</a></li>
                            <li><a href="#none">내부자신고제도</a></li>
                        </ul>
                    </nav>
                    <h1 class="d-flex">
                        <span class="emptyBox"></span>
                        <a href="/"><img src="/img/main/mlogo.svg" alt="유니버스 엔터테인먼트 로고입니다"></a>
                    </h1>
                    <ul class="m-utility d-flex align-items-center gap-10">
                        <li>
                            <a href="#none" class="m-searchOn"><img src="/img/icon/m-Search.svg" alt="검색 아이콘입니다"></a>
                        </li>
                        <li>
                            <a href="/sub/login.html" class="m-lock"><img src="/img/icon/m-Lock.svg" alt="로그인 아이콘입니다"></a>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- M 검색창 -->
            <div id="m-search" class="d-md-none">
                <form class="searchBox d-flex justify-content-between align-items-center">
                    <input type="text" id="m-searchText" placeholder="검색어를 입력해 주세요." class="border-0">
                    <button type="submit" class="m-searchBtn border-0"></button>
                </form>
            </div>
        </section>