html,
body{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}
#header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-bottom: solid 1px #ccc;
    box-sizing: border-box;
    z-index: 9999999999;
}
#header::before,
#header::after,
#header .topArea::after{
    display: none;
}
#header .inner{
    width: 100%;
    padding: 0 7.5rem;
    box-sizing: border-box;
}
#header .inner .topArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 70px;
}
#header .inner .topArea .inner-left{
    display: flex;
    gap: 30px;
    align-items: center;
}
#header .inner .topArea h1{
    width: 150px;
    height: 23px;
    margin: 0;
}
#header .inner .topArea h1 a{
    display: block;
}
#header .inner .topArea h1 a img{
    display: block;
    width: 100%;
}
#header .inner .topArea #category{
    margin: 0;
    width: 600px;
}
#header #category.xans-layout-category .sub-list-box .one_depth{
    display: none;
}
#header .topArea .xans-layout-category .position .category_depth{
    position: relative;
    width: 100%;
}
#header .topArea .xans-layout-category .position .category_depth .main-category-list{
    display: flex;
    width: 100%;
}
#header .topArea .xans-layout-category .position .category_depth .main-category-list > li{
    text-align: center;
    width: calc(100% / 6);
}
#header .topArea .xans-layout-category .position .category_depth .main-category-list > li > a{
    display: block;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 4.375rem;
}
#header .topArea .xans-layout-category .position .category_depth .main-category-list > li > a:hover{
    color: #EC164D;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 99999999;
    transition: all .2s ease-in-out;
    height: 14rem;
    opacity: 0;
    visibility: hidden;
}
#header .topArea .xans-layout-category .position .category_depth:hover .sub-list-box{
    opacity: 1;
    visibility: visible;
}

#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list{
    width: calc(100% / 6);
    text-align: center;
    margin: 0 0 2rem;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list:nth-child(2){
    transform: translateX(100%);
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list:last-child{
    border-right: none;
    transform: translateX(-300%);
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list .sub-menu a{
    display: inline-flex;
    flex-direction: column;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 3rem;
    color: #767676;
    position: relative;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list .sub-menu a:hover{
    color: #EC164D;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list .sub-menu a:hover::after{
    width: 100%;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list .sub-menu a:after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: rgb(236, 22, 77, .4);
    transition: all .2s ease-in-out;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#header .topArea #category:hover ~ .header-bg{
    opacity: 1;
    visibility: visible;
}
#header .topArea .header-bg{
    background-color: #fff;
    width: 100%;
    top: 100%;
    left: 0;
    position: absolute;
    height: 12rem;
    z-index: 98;
    transition: all .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

#header .topArea .xans-layout-category .category_depth > li,
.category_depth > .xans-record-{
    display: none;
}

/* 유틸메뉴 */
#header .inner .topArea .util-menu{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
#searchBarForm .xans-element-.xans-layout.xans-layout-searchheader{
    float: none;
    margin: 0;
}
.util-menu .xans-layout-statelogoff,
.util-menu .xans-layout-statelogon{
    display: flex;
    align-items: center;
    gap: 8px;
    float: none;
    height: 24px;
    line-height: normal;
}
.util-menu .xans-layout-statelogoff > a,
.util-menu .xans-layout-statelogon > a{
    padding: 0;
    background: none;
}
.search-btn{
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding: 4px 12px;
    border-radius: 50px;
    background: #ededed;
    cursor: pointer;
}
.search-rank-slider{
    width: 120px;
    padding-left: 8px;
}
.search-rank-slider li {
    font-size: 14px;
}
.search-rank-slider li b{
    padding-right: 4px;
}
.search-btn button{
    width: 20px;
    border: 0;
    background-color: transparent;
}
.search-btn button img{
    display: block;
    width: 100%;
}
.search-popup{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .2);
}
.search-popup.show{
    display: block;
}
.search-box{
    height: 80%;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
}
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 800px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 24px;
}
#searchBarForm{
    width: 100%;
}
.search-bar .xans-layout-searchheader fieldset{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: 0;
    border-radius: 0;
    background-color: #ededed;
    padding: 4px 12px;
    border-radius: 50px;
    cursor: pointer;
}
.search-bar .xans-layout-searchheader fieldset #keyword{
    background-color: transparent;
    width: 100%;
    color: #333;
}
.login-menu,
.logoff-menu{
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    width: 224px;
    height: auto;
    border-radius: 10px;
    background: #fff;
    z-index: 101;
    padding: 24px 20px;
    text-align: left;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.login-menu.show,
.logoff-menu.show{
    display: block;
}
.xans-layout-statelogon .logoff-menu .myinfo{
    color: #333;
}
.logoff-menu .myinfo::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0 14px;
}
.logoff-menu .myinfo strong{
    font-weight: 500;
}
.login-menu ul,
.logoff-menu ul{
    font-size: .875rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-menu ul li a,
.logoff-menu ul li a{
    color: #767676;
}
.login-menu ul li a:hover,
.logoff-menu ul li a:hover{
    color: #333;
}

/* 탭
.tab {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f1f1f1;
    display: inline-block;
}

.tab.active {
    background-color: #ddd;
    font-weight: bold;
}

.tab-content {
    display: none;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.tab-content.active {
    display: block;
}
.tabBTN{
    position: absolute;
    
}

슬라이드
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */