#page-top{
  width:100%;
  height:100%;
  section{
    height: 100vh; // 각 섹션 100vh
  }
  
  // 로딩 페이지
  #loading_page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #191919;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 99999;
    //  백그라운드
    &::before {
      content: '';
      display: block;
      position: absolute;
      background-color: #7157F9;
      width: 400vw;
      height: 100vh;
      top: 0;
      left: 50%;
      transform: skewX(-45+deg) translateX(-100%) scaleX(0);
      will-change:transform;
      animation: revealBG (1000+400)+ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
    }
    .container{
      // === <h1> wrapper ======
      .title {
        font-size: 2rem;
        font-weight: 500;
        opacity: 0;
        transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
        will-change: opacity, transform;
        animation: revealText 1000+ms cubic-bezier(0.7, 0, 0.3, 1) forwards 400+ms;
        .emphasis{
          font-size: 3rem;
          font-weight: 700;
        }
      }

      // === Mask each line ======
      .Title-mask {
        display: block;
        position: relative;
        text-align: start;
        overflow: hidden;
      }
      // === Animate each line within the mask ======
      .Title-line {
        display: inline-block;
        opacity: 0;
        transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
        will-change: opacity, transform;
        animation: revealText 1000+ms cubic-bezier(0.7, 0, 0.3, 1) forwards;
      }
      @for $i from 1 through 3 {
        .Title-mask:nth-child(#{$i}) .Title-line {
          animation-delay: 500 * $i + ms;
        }
      }
  
      // 로딩 애니메이션
      @keyframes revealBG {
        from { transform: skewX(-45+deg) translateX(-100%) scaleX(0); }
        to   { transform: skewX(-45+deg) translateX(-100%) scaleX(1); }
      }
      @keyframes revealText {
        from { opacity: 0; transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0); }
        to   { opacity: 1; transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0); }
      }
    }
  }
}


// 격자구조
button {
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1px solid #ccc;
  background: white;
  transition: 0.3s;
}

button:hover {
  background: crimson;
  color: white;
  cursor: pointer;
}

/*     start     */

.grid_section {
  width: 1600px;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  h3 {
    text-align: left;
    color: #666;
    font-size: 1rem;
  }
  h2 {
    text-align: left;
    color: #333;
    font-size: 2rem;
  }
  section p {
    font-size: 1rem;
    text-align: left;
    color: #666;
  }
  button {
    width: 140px;
    text-align: center;
  }
  article{
    display: flex;
    & > :nth-child(2) {
      padding-left: 40px;
    }
    & > :nth-child(3) {
      padding-left: 40px;
    }
    &:nth-child(1){
      display: flex;
    }
    &:nth-child(2){
      display: flex;
      flex-direction: row-reverse;
    }
    .grid_img {
      background: url('https://i.pinimg.com/564x/d7/e1/6b/d7e16b245a400f3386eeccf55843185a.jpg') no-repeat;
      background-size: cover;
      background-position: top center;
      display: block;
      width: 800px;
      height: 450px;
    }
    .grid_contents {
      width: 50%;
      gap: 20px;
    }
  }
}

.q_arrow{
  position: fixed;
  bottom: 60px;
  right: 100px;
}

.main_banner {
  background: linear-gradient(#ebece7, white);
  margin: 0;
  width: 100%;
  height: 100vh;
  .container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    .line {
      border: solid 10px transparent;
      padding: 200px;
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      background-image: linear-gradient(white, white), url("https://cdn.pixabay.com/photo/2015/04/04/17/16/background-706657_1280.jpg");
      background-repeat: no-repeat;
      background-size: calc(100% - 40px) calc(100% - 40px), 200% 200%;
      background-position: center, 30% 10%;
      .title {
        letter-spacing: -2px;
        margin-left: -16px;
        font-weight: 800;
        color: transparent;
        font-size: 80px;
        background: url("https://cdn.pixabay.com/photo/2015/04/04/17/16/background-706657_1280.jpg") repeat;
        background-position: 30% 10%;
        background-size: 200%;
        -webkit-background-clip: text;
        background-clip: text;
        position: relative;
        text-align: center;
        line-height: 90px;
        text-transform: uppercase;
        &.lg {
          font-weight: 400;
          font-size: 40px;
          span {
            font-weight: 800;
            letter-spacing: 0;
          }
        }
      }
    }
  }
}

#product_detail {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  .slider{
    position: relative;
    height: 100%;
    .item {
      width: 200px;
      height: 300px;
      list-style-type: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      background-position: center;
      background-size: cover;
      border-radius: 20px;
      box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
      transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
    
      &:nth-child(1), &:nth-child(2) {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
      }
    
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(50% + 220px); }
      &:nth-child(5) { left: calc(50% + 440px); }
      &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
    }
    
    .content {
      width: min(30vw,400px);
      position: absolute;
      top: 50%;
      left: 3rem;
      transform: translateY(-50%);
      font: 400 0.85rem helvetica,sans-serif;
      color: white;
      text-shadow: 0 3px 8px rgba(0,0,0,0.5);
      opacity: 0;
      display: none;
    
      & .title {
        font-family: 'arial-black';
        text-transform: uppercase;
      }
    
      & .description {
        line-height: 1.7;
        margin: 1rem 0 1.5rem;
        font-size: 0.8rem;
      }
    
      & button {
        width: fit-content;
        background-color: rgba(0,0,0,0.1);
        color: white;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
      }
    }
  }
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;

  & .btn {
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.7);
    border: 2px solid rgba(0,0,0,0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
}

@media (width > 650px) and (width < 900px) {
  .content {
    & .title        { font-size: 1rem; }
    & .description  { font-size: 0.7rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 170px); }
    &:nth-child(5) { left: calc(50% + 340px); }
    &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
  }
}

@media (width < 650px) {
  .content {
    & .title        { font-size: 0.9rem; }
    & .description  { font-size: 0.65rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 140px); }
    &:nth-child(5) { left: calc(50% + 280px); }
    &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
  }
}

.progress-bar-one {
  width: 0;
  height: 5px;
  background: linear-gradient(to left, #7157F9,#8067ff,#907aff,#a08dff);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}