// 믹스인
@import './_var.scss';
@mixin goods ($width: 60%) {
    width: $width;
    height: auto;
    transition: all 0.4s ease-in-out;
    &:hover{
        width: calc($width + 10%);
    }   
}
@mixin best ($name) {
    position: relative;
    width: 630px;
    height: 720px;
    border-radius: 20px;
    background: url('/img/subGoods/#{$name}.jpg') no-repeat center / cover;
    // background-size: cover;
    // transition: all 0.4s ease-in-out;
    overflow: hidden;
}

// 공통
// .dNn: n에서 살릴 태그
.dN1320,
.dN874,
.dN784{
    display: none;
}


// 스타일
#subGoods{
    background-color: #fff;
    gap: 100px;
    a{
        color: #fff;
    }
    // 메인 배너 디자인
    #mainBanner{
        position: relative;
        width: 100%;
        max-width: 1920px;
        height: 430px;
        background: url(/img/subGoods/subGoodsMainBanner.jpg) no-repeat -170px -558px/130%;
        &::before{
            content: '';
            display: block;
            height: 100%;
            background: rgba(0, 0, 0, .4);
        }
        .textBox-PC{
            position: absolute;
            left: calc(50% - 640px);
            bottom: calc(50% - 115px);
            width: 100%;
            max-width: 1280px;
            gap: 2.5rem;
            color: #fff;
            .textBox01{
                gap: 0.625rem;
                .bannerText01{
                    font-size: 3.125rem;
                    font-weight: 700;
                    line-height: 4.5rem;
                }
                .bannerText02{
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: 2.25rem;
                }
            }
            .textBox02{
                font-size: 1rem;
                font-weight: 700;
                line-height: 1.5rem;
            }
        }
        .textBox-MT{
            text-align: center;
            gap: 40px;
            .bannerText01{
                @include f-36-700-52;
            }
            .bannerText02{
                @include f-24-400-36;
            }
        }
    }
    .contentTitle{
        width: 100%;
        max-width: 1280px;
        color: #000;
    }
    #bestBox{
        width: 100%;
        max-width: 1280px;
        gap: 60px;
        .swiper.mySwiper{
            width: 100%;
            gap: 20px;
            .swiper-wrapper{
                .bestSlide01.swiper-slide{
                    @include best (bestS1-1);
                }
                .bestSlide02.swiper-slide{
                    @include best (bestS1-2);
                }
                .bestSlide03.swiper-slide{
                    @include best (bestS2-1);
                }
                .bestSlide04.swiper-slide{
                    @include best (bestS2-2);
                }
                .bestSlide05.swiper-slide{
                    @include best (bestS3-1);
                }
                .bestSlide06.swiper-slide{
                    @include best (bestS3-2);
                }
            }
        }
    }
    #contentBox{
        width: 100%;
        max-width: 1280px;
        text-align: center;
        gap: 60px;
        .artist{
            gap: 40px;
            padding: 40px 20px;
            box-sizing: border-box;
            border-radius: 20px;
            background-color: #333;
            position: relative;
            h3{
                color: #fff;
            }
            .moreBtn{
                gap: 4px;
                position: absolute;
                top: 40px;
                right: 10px;
            }
            ul{
                li{
                    a{
                        gap: 20px;
                        .goodsContainer{
                            position: relative;
                            width: 400px;
                            height: 420px;
                            border-radius: 20px;
                            overflow: hidden;
                            background-color: #ededed;
                        }
                        span:last-child{
                            gap: 10px;
                        }
                    }
                }
            }
        }
        .nam{
            ul{
                li{
                    a{
                        .goods01{
                            img{
                                @include goods (64%);                                
                            }
                        }
                    }
                    a{
                        .goods02{
                            img{
                                @include goods (56%);
                            }
                        }
                    }
                    a{
                        .goods03{
                            img{
                            @include goods (80%);
                            }
                        }
                    }
                }
            }
        }
        .lee{
            ul{
                li{
                    a{
                        .goods01{
                            img{
                                @include goods (70%);
                            }
                        }
                    }
                    a{
                        .goods02{
                            img{
                                @include goods (76%);
                            }
                        }
                    }
                    a{
                        .goods03{
                            img{
                                @include goods (74%);
                            }
                        }
                    }
                }
            }
        }
        .byun{
            ul{
                li{
                    a{
                        .goods01{
                            img{
                            @include goods (36%);
                            }
                        }
                    }
                    a{
                        .goods02{
                            img{
                                @include goods (54%);
                            }
                        }
                    }
                    a{
                        .goods03{
                            img{
                                @include goods (80%);
                            }
                        }
                    }
                }
            }
        }
        .yoon{
            ul{
                li{
                    a{
                        .goods01{
                            img{
                                @include goods (80%);
                            }
                        }
                    }
                    a{
                        .goods02{
                            img{
                                @include goods (66%);
                            }
                        }
                    }
                    a{
                        .goods03{
                            img{
                                @include goods (50%);
                            }
                        }
                    }
                }
            }
        }
        .park{
            ul{
                li{
                    a{
                        .goods01{
                            img{
                            @include goods (74%);
                            }
                        }
                    }
                    a{
                        .goods02{
                            img{
                                @include goods (64%);
                            }
                        }
                    }
                    a{
                        .goods03{
                            img{
                                @include goods (78%);
                            }
                        }
                    }
                }
            }
        }
    }
}