@import './_var.scss';
// 공통클래스
html, body{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    background-color: #000;
}
// ************************************************************************************************
.container-1280{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.sub-top-banner{
    width: 100%;
    height: 430px;
    position: relative;
    display: flex;
    align-items: center;
    &::before { 
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(106, 106, 106, 0.4);
        z-index: 1;
    }
    .banner-text{
        color: #fff; 
        position: relative;
        z-index: 2;
        .title{
            @include f-50-72-700;
            padding-bottom: 10px;
        } 
        .sub-title{
            @include f-24-36-500;
            padding-bottom: 40px; 
        }
        .detail{
            @include f-16-24-400;
        }
    }
}

// 한수지
.gap-10{
    gap: 10px;
}
.gap-20{
    gap: 20px;
}
.gap-40{
    gap: 40px;
}
.gap-50{
    gap: 50px;
}
.gap-60{
    gap: 60px;
}
.gap-80{
    gap: 80px;
}
.gap-100{
    gap: 100px;
}

.introN{
    display: none;
}
.introN500{
    display: none;
}
.artistN{
    display: none;
}
.scheduleN{
    display: none;
}
.footerN{
    display: none;
}

.info-b-disN{
    display: none;
}
.info-b-disN2{
    display: none;
}
// ************************************************************************************************



// ************************************************************************************************
.schedule-DisN{
    background-color: transparent !important;
    color: transparent !important;
    border-color: transparent !important;
}
.releaseColor{
    color: transparent;
}



// SHIM start *****************************************************************

// .shim_dNn: n에서 살릴 태그
.shim_dN1320,
.shim_dN874,
.shim_dN784,
.shim_dN350{
    display: none;
}

// .shim_gn: npx 갭
.shim_g10{
    gap: 10px;
}
.shim_g40{
    gap: 40px;
}
.shim_g60{
    gap: 60px;
}
.shim_g100{
    gap: 100px;
}

// SHIM end *****************************************************************