// 믹스인
@import './_var.scss';
@mixin subGoodsTopBannerTitle {
    width: 100%;
    max-width: 1280px;
    gap: 2.5rem;
    color: #fff;
    .textBox01{
        gap: 0.625rem;
        .bannerText01{
            @include f-50-700-72;
        }
        .bannerText02{
            @include f-24-700-36;
        }
    }
    .textBox02{
        @include f-16-500-24;
    }
}
@mixin goods ($width: 60%) {
    img{
        width: $width;
        height: auto;
        transition: all 0.4s ease-in-out;
    }
    &:hover img{
        width: calc($width + 10%);
    }   
}

.shim_dNHover{
    display: none;
}
.shim_g4{
    gap: 4px;
}

// PC 스타일
#subGoods{
    padding-bottom: 100px;
    a{
        color: #fff;
    }
    // 상단 배너 디자인
    #subGoodsTopBanner{
        position: relative;
        width: 100%;
        max-width: 1920px;
        height: 430px;
        background: url(/img/subGoods/subGoodsTopBanner.jpg) no-repeat center/cover;
        &::before{
            content: '';
            display: block;
            height: 100%;
            background: rgba(0, 0, 0, .4);
        }
        .textBox-PC{
            position: absolute;
            left: calc((100% - 1280px) / 2);
            bottom: calc((100% - 230px) / 2);
            @include subGoodsTopBannerTitle;
        }
        .textBox-MT{
            position: absolute;
            left: 0;
            bottom: calc(50% - 200px);
            width: 100%;
            max-width: 767px;
            text-align: center;
            gap: 2.5rem;
            color: #fff;
            .bannerText01{
                @include f-36-700-52;
            }
            .bannerText02{
                @include f-24-400-36;
            }
        }
    }
    .contentTitle{
        width: 100%;
        max-width: 1280px;
        color: #fff;
        h3{
            @include f-32-700-46;
        }
        p{
            @include f-16-500-24;
        }
    }
    #bestBox{
        width: 100%;
        max-width: 1280px;
        gap: 60px;
        .swiper.mySwiper{
            width: 100%;
            .swiper-wrapper{
                .swiper-slide{
                    width: calc((100% - 20px) / 2);
                    height: 630px;
                    border-radius: 20px;
                    overflow: hidden;
                    a{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        .goodsHoverBtn{
                            position: absolute;
                            top: 20px;
                            right: 20px;
                            .shopBtn,
                            .likeBtn{
                                cursor: pointer;
                                z-index: 3;
                                > img{
                                    width: 28px;
                                    object-fit: cover;
                                }
                            }
                        }
                        &:hover .goodsHoverBtn{
                            display: flex;
                        }
                        > img{
                            width: 100%;
                            transition: all 0.4s ease-in-out;
                        }
                        &:hover > img{
                            transform: scale(1.1);
                        }
                        .bestInfo{
                            width: 100%;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            transform: translateY(100%); /* 완전히 보이지 않게 아래로 이동 */
                            overflow: hidden;
                            background-color: #333;
                            padding: 20px 40px;
                            border-radius: 18px 18px 0 0;
                            transition: all 0.4s ease-in-out;
                            @include f-24-400-36;
                        }
                        &:hover .bestInfo{
                            transform: translateY(0); /* hover 시 위로 올라와 a 태그의 bottom에 맞도록 */
                        }
                    }
                }
            }
            .swiperAttachedBtn{
                display: flex;
                justify-content: center;
                align-items: center;
                .nextBtn{
                    border-radius: 0 6px 6px 0;
                    padding: 4px 7px 4px 8px;
                    background-color: #333;
                }
                .prevBtn{
                    border-radius: 6px 0 0 6px;
                    padding: 4px 8px 4px 7px;
                    background-color: #333;
                }
            }
        }
    }
    #contentBox{
        width: 100%;
        max-width: 1280px;
        text-align: center;
        gap: 60px;
        .artist{
            gap: 40px;
            padding: 40px 20px;
            box-sizing: border-box;
            border-radius: 20px;
            background-color: #333;
            position: relative;
            h3{
                color: #fff;
                @include f-24-700-36;
            }
            .moreBtn{
                gap: 4px;
                position: absolute;
                top: 49px;
                right: 20px;
            }
            ul{
                li{
                    width: calc((100% - 40px) / 3);
                    a{
                        position: relative;
                        gap: 20px;
                        .goodsHoverBtn{
                            position: absolute;
                            top: 20px;
                            right: 20px;
                            .shopBtn,
                            .likeBtn{
                                cursor: pointer;
                                transition: all 0.4s ease-in-out;
                                z-index: 3;
                                > img{
                                    width: 28px;
                                    object-fit: cover;
                                }
                            }
                        }
                        &:hover .shopBtn,
                        &:hover .likeBtn{
                            display: flex;
                        }
                        .goodsContainer{
                            position: relative;
                            width: 100%;
                            height: 420px;
                            border-radius: 20px;
                            overflow: hidden;
                            background-color: #ededed;
                        }
                        span:last-child{
                            .itemName{
                                @include f-16-400-24;
                            }
                            .itemPrice{
                                @include f-16-500-24;
                            }
                        }
                    }
                }
            }
        }
        .byeon{
            ul{
                li{
                    a{
                        .goods01{
                            @include goods (36%);
                        }
                    }
                    a{
                        .goods02{
                            @include goods (54%);
                        }
                    }
                    a{
                        .goods03{
                            @include goods (80%);
                        }
                    }
                }
            }
        }
        .lee{
            ul{
                li{
                    a{
                        .goods01{
                            @include goods (70%);
                        }
                    }
                    a{
                        .goods02{
                            @include goods (76%);
                        }
                    }
                    a{
                        .goods03{
                            @include goods (74%);
                        }
                    }
                }
            }
        }
        .yoon{
            ul{
                li{
                    a{
                        .goods01{
                            @include goods (80%);
                        }
                    }
                    a{
                        .goods02{
                            @include goods (66%);
                        }
                    }
                    a{
                        .goods03{
                            @include goods (50%);
                        }
                    }
                }
            }
        }
        .nam{
            ul{
                li{
                    a{
                        .goods01{
                            @include goods (64%);
                        }
                    }
                    a{
                        .goods02{
                            @include goods (56%);
                        }
                    }
                    a{
                        .goods03{
                            @include goods (80%);
                        }
                    }
                }
            }
        }
        .park{
            ul{
                li{
                    a{
                        .goods01{
                            @include goods (74%);
                        }
                    }
                    a{
                        .goods02{
                            @include goods (64%);
                        }
                    }
                    a{
                        .goods03{
                            @include goods (78%);
                        }
                    }
                }
            }
        }
    }
}