html,
body{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}
.titleH h2{
    font-size: 2rem;
    line-height: 2.625rem;
}
.titleH p{
    font-size: 1rem;
    line-height: 1.5rem;
}
.direct-btn{
    position: relative;
    width: 70px;
}
.direct-btn::after{
    content: '';
    display: block;
    width: 80px;
    height: 10px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background: url(/img/directIcon.svg);
}
.direct-btn.direct-btn-w{
    color: #fff;
}
.direct-btn.direct-btn-w::after{
    background: url(/img/directIcon-w.svg);
}

/* ---------- 헤더 ---------- */
#header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-bottom: solid 1px #ccc;
    box-sizing: border-box;
    z-index: 9999999999;
}
#header::before,
#header::after,
#header .topArea::after{
    content: none;
}
#header .inner{
    width: 100%;
    padding: 0 7.5rem;
    box-sizing: border-box;
}
#header .inner .topArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 70px;
}
#header .inner .topArea .inner-left{
    display: flex;
    gap: 30px;
    align-items: center;
}
#header .inner .topArea h1{
    width: 150px;
    height: 23px;
    margin: 0;
}
#header .inner .topArea h1 a{
    display: block;
}
#header .inner .topArea h1 a img{
    display: block;
    width: 100%;
}
#header .inner .topArea #category{
    margin: 0;
    width: 600px;
}
#header #category.xans-layout-category .sub-list-box .one_depth{
    display: none;
}
#header .topArea .xans-layout-category .position .category_depth{
    position: relative;
    width: 100%;
}
#header .topArea .xans-layout-category .position .category_depth .main-category-list{
    display: flex;
    width: 100%;
}
#header .topArea .xans-layout-category .position .category_depth .main-category-list > li{
    text-align: center;
    width: calc(100% / 6);
}
#header .topArea .xans-layout-category .position .category_depth .main-category-list > li > a{
    display: block;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 4.375rem;
}
#header .topArea .xans-layout-category .position .category_depth .main-category-list > li > a:hover{
    color: #EC164D;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 99999999;
    transition: all .2s ease-in-out;
    height: 14rem;
    opacity: 0;
    visibility: hidden;
}
#header .topArea .xans-layout-category .position .category_depth:hover .sub-list-box{
    opacity: 1;
    visibility: visible;
}

#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list{
    width: calc(100% / 6);
    text-align: center;
    margin: 0 0 2rem;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list:nth-child(2){
    transform: translateX(100%);
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list:last-child{
    border-right: none;
    transform: translateX(-300%);
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list .sub-menu a{
    display: inline-flex;
    flex-direction: column;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 3rem;
    color: #767676;
    position: relative;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list .sub-menu a:hover{
    color: #EC164D;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list .sub-menu a:hover::after{
    width: 100%;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list .sub-menu a:after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: rgb(236, 22, 77, .4);
    transition: all .2s ease-in-out;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#header .topArea #category:hover ~ .header-bg{
    opacity: 1;
    visibility: visible;
}
#header .topArea .header-bg{
    background-color: #fff;
    width: 100%;
    top: 100%;
    left: 0;
    position: absolute;
    height: 12rem;
    z-index: 98;
    transition: all .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

#header .topArea .xans-layout-category .category_depth > li,
.category_depth > .xans-record-{
    display: none;
}

/* 유틸메뉴 */
#header .inner .topArea .util-menu{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
#searchBarForm .xans-element-.xans-layout.xans-layout-searchheader{
    float: none;
    margin: 0;
}
.util-menu .xans-layout-statelogoff,
.util-menu .xans-layout-statelogon{
    display: flex;
    align-items: center;
    gap: 8px;
    float: none;
    height: 24px;
    line-height: normal;
}
.util-menu .xans-layout-statelogoff > a,
.util-menu .xans-layout-statelogon > a{
    padding: 0;
    background: none;
}
.search-btn{
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding: 4px 12px;
    border-radius: 50px;
    background: #fff;
    border:  solid 1px #ccc;
    cursor: pointer;
}
#header .xans-layout-statelogon > a{
    position: relative;
}
#header .xans-layout-statelogon > a .count{
    position: absolute;
    top: -4px;
    left: unset;
    right: -8px;
    font-weight: 400;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: 0;
    background-color: #EC164D;
    color: #fff;
}
#header .xans-layout-statelogon > a .count span{
    padding: 0;
    height: auto;
    background: 0;
    font-size: 10px;
    line-height: 10px;
}
.search-rank-slider{
    width: 120px;
    padding-left: 8px;
}
.search-rank-slider li {
    font-size: 14px;
}
.search-rank-slider li b{
    padding-right: 4px;
}
.search-btn button{
    width: 20px;
    border: 0;
    background-color: transparent;
}
.search-btn button img{
    display: block;
    width: 100%;
}
.search-popup{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .2);
}
.search-popup.show{
    display: block;
}
.search-box{
    height: 80%;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
}
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 800px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 24px;
}
#searchBarForm{
    width: 100%;
}
.search-bar .xans-layout-searchheader fieldset{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: 0;
    border-radius: 0;
    background-color: #ededed;
    padding: 4px 12px;
    border-radius: 50px;
    cursor: pointer;
}
.search-bar .xans-layout-searchheader fieldset #keyword{
    background-color: transparent;
    width: 100%;
    color: #333;
}
.login-menu,
.logoff-menu{
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    width: 224px;
    height: auto;
    border-radius: 10px;
    background: #fff;
    z-index: 101;
    padding: 24px 20px;
    text-align: left;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.login-menu.show,
.logoff-menu.show{
    display: block;
}
.xans-layout-statelogon .logoff-menu .myinfo{
    color: #333;
}
.logoff-menu .myinfo::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0 14px;
}
.logoff-menu .myinfo strong{
    font-weight: 500;
}
.login-menu ul,
.logoff-menu ul{
    font-size: .875rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-menu ul li a,
.logoff-menu ul li a{
    color: #767676;
}
.login-menu ul li a:hover,
.logoff-menu ul li a:hover{
    color: #333;
}

/* ---------- 메인 인덱스 ---------- */
#wrap{
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
}
#container{
    width: 100%;
    max-width: 1680px;
    padding: 0 120px;
    box-sizing: border-box;
}
#contents{
    width: 100%;
}

/* ---------- 푸터 ---------- */
#footer{
    border: 0;
    margin: 0;
    font-size: .875rem;
    background-color: #ededed;
    padding-bottom: 40px;
    overflow: hidden;
}
#footer strong{
    font-weight: 500;
}
#footer::before{
    content: none;
}
#footer .inner,
#footer .xans-layout-footer{
    width: 100%;
    height: auto;
}
.footer-content{
    width: 100%;
    border-bottom: solid 1px #ccc;
}
.footer-content:last-child{
    border: 0;
}
.footer-inner{
    width: 100%;
    max-width: 1920px;
    padding: 0 7.5rem;
    box-sizing: border-box;
    margin: 0 auto;
}
#footer .xans-layout-footer .utilMenu{
    display: flex;
    gap: 1.25rem;
}
#footer .xans-layout-footer .utilMenu li{
    float: none;
    padding: 0;
    background: none;
}
#footer .xans-layout-footer .address{
    display: flex;
    flex-direction: column;
    /* gap: 4px; */
    padding: 20px 0;
}
#footer .xans-layout-footer .address > span{
    padding: 0;
    display: flex;
    gap: 10px;
}
#footer .xans-layout-footer .address > span > span{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
}
#footer .xans-layout-footer .address > span > span::after{
    content: '';
    display: inline-block;
    height: 14px;
    width: 1px;
    background-color: #757575;
}
#footer .xans-layout-footer .address > span .after-none::after,
#footer .xans-layout-footer .address > span > span:last-child::after{
    content: none;
}
#footer .xans-layout-footer .copyright{
    position: relative;
    font-size: .875rem;
    line-height: 20px;
    height: auto;
    color: #757575;
    padding-bottom: 40px;
}

/*---------- [공통] 퀵버튼 ----------*/
#quick{
    position: fixed;
    top: unset !important;
    bottom: 40px !important;
    right: 16px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 68px;
}
.pageTop{
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 50%;
    padding: 14px;
}
.qTop{
    border: solid 1px #ccc;
    background-color: #fff;
    padding: 20px 0;
    border-radius: 100px;
}
#quick .tell{
    padding-bottom: 10px;
}
#quick .qTop > div{
    margin: 0 10px;
}
#quick .qTop > div > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-top: 12px;
}
#quick .qbtn-img{
    position: relative;
}
#quick .qTop > div > a img{
    width: 32px;
    display: block;
}
.qbtn-name{
    font-size: 12px;
    color: #121212;
}
.qbtn:hover .qbtn-name{
    font-weight: 500;
    color: #EC164D;
}
#quick .count{
    position: absolute;
    top: -4px;
    right: -8px;
    font-size: 12px;
    font-weight: 400;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #EC164D;
    color: #fff;
}
#quick .xans-layout-productrecent{
    border: 0;
    background: 0;
    border-top: solid 1px #ededed;
    padding-top: 10px;
}
#quick .xans-layout-productrecent li span{
    font-size: 12px;
}
.productrecent{
    position: relative;
}
/* Slick 기본 화살표 스타일 초기화 */
.slick-prev, .slick-next{
    background: none;
    border: none;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
}
.productrecent:hover .slick-prev,
.productrecent:hover .slick-next{
    visibility: visible;
    opacity: 1;
}
.slick-prev,
.slick-next{
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: transparent;
}
.slick-prev{
    left: -20px;
}
.slick-next{
    right: -20px;
}
.slick-dots{
    display: flex;
    justify-content: center;
    gap: 4px;
}
.slick-dots li.slick-active .custom-dot {
    content: url('/img/dotOn.svg');
}

/*---------- [메인] 메인배너 ----------*/
#mainBanner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 60px;
}
#mainBanner .mainB-swiper{
    position: relative;
    width: 100%;
    padding-bottom: 60px;
    overflow: hidden;
}
#mainBanner .fake-swiper{
    width: 14%;
    height: 100%;
    overflow: hidden;
    margin: 60px 0;
    box-sizing: border-box;
}
.swiper-slide {
    opacity: 0; /* 기본적으로 보이지 않게 */
    transition: opacity 1s ease-in-out;
}
.swiper-slide-active {
    opacity: 1; /* 활성화된 슬라이드만 보이게 */
}
.banner{
    position: relative;
}
.swiper-title{
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 1;
}
.swiper-title strong{
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 70px;
}
.swiper-title p{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: normal;
    overflow: hidden;
}
.img-bg > img{
    width: 100%;
    height: 440px;
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
}
.mainB-swiper .img-area{
    display: block;
    position: relative;
    margin-left: 60px;
}
.mainB-swiper .img-product{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
}
.img-product img{
    width: 100%;
    height: 520px;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.img-product {
    transform: translateX(-100px); /* 초기 위치 */
    opacity: 0; /* 초기 투명도 */
    transition: transform 1s ease-out, opacity 1s ease-out; /* 부드러운 효과 */
}

.swiper-slide-active .img-product {
    animation: slideInFromLeft 1s forwards; /* 좌에서 우로 이동 */
}
/* 페이지네이션 기본 스타일 */
.swiper-pagination {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.swiper-pagination-bullet {
    width: 16px;
    height: 1px;
    background-color: #ccc;
    opacity: 1; /* 투명도 제거 */
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0 !important;
    border-radius: 0;
}
/* 활성화된 페이지네이션 */
.swiper-pagination-bullet-active {
    height: 2px;
    background-color: #333;
}

/*---------- [메인] 브랜드 카테고리 메뉴 ----------*/
#brandCategory{
    display: flex;
    gap: 40px;
    align-items: center;
}
.brandCategory-left{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 330px;
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 0 10px 10px 0;
    background-color: #AB8A72;
    color: #fff;
}
.brandCategory-right{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.brandCategory-right li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.brand-logoImg{
    display: block;
    width: 84%;
}
.brand-logoImg img{
    display: block;
    width: 100%;
}

/*---------- [메인] 베스트 아이템 ----------*/
.ec-base-product.bestItem .prdList{
    position: relative;
    margin: 0;
    overflow: hidden;
    text-align: left;
    font-size: 0;
    line-height: 0;
}
.ec-base-product.bestItem .prdList > li{
    width: calc(22% - 20px);
    max-width: 370px;
    height: 330px;
    margin: 0 0 20px 20px;
    float: left;
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.ec-base-product.bestItem .prdList > li:first-child{
    width: 34%;
    max-width: 570px;
    height: 680px;
    margin-left: 0;
}
.ec-base-product.bestItem .prdList .thumbnail,
.ec-base-product.bestItem .prdList .thumbnail .prdImg,
.ec-base-product.bestItem .prdList .thumbnail .prdImg a,
.ec-base-product.bestItem .prdList .thumbnail .prdImg a img{
    margin: 0;
    display: block;
    height: inherit;
    object-fit: cover;
}
.ec-base-product.bestItem .prdList .description{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 350px;
    height: 180px;
    padding: 88px 20px 20px 20px;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(86, 60, 37, 0.00) 0%, rgba(86, 60, 37, 0.10) 22.22%, rgba(86, 60, 37, 0.80) 68.22%, #563C25 100%);
    transition: all .4s ease-in-out;
}
.ec-base-product.bestItem .prdList > li:first-child .description{
    max-width: 570px;
}
.ec-base-product.bestItem .prdList > li:hover .description{
    visibility: visible;
    opacity: 1;
}
.ec-base-product.bestItem .prdList .description strong,
.ec-base-product.bestItem .prdList .description p,
.ec-base-product.bestItem .prdList .description span{
    color: #fff !important;
}

/* 탭
.tab {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f1f1f1;
    display: inline-block;
}

.tab.active {
    background-color: #ddd;
    font-weight: bold;
}

.tab-content {
    display: none;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.tab-content.active {
    display: block;
}
.tabBTN{
    position: absolute;
    
}

슬라이드
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */