<!-- PC 푸터 -->
<footer id="footer" class="d-block">
    <div class="footerTop d-flex justify-content-between align-items-center">
        <ul class="footerLink d-flex">
            <li><a href="#none">제휴문의</a></li>
            <li><a href="#none">이용약관</a></li>
            <li><a href="#none">개인정보처리방침</a></li>
        </ul>
        <ul class="footerSns d-flex gap-3">
            <li><a href="#none"><img src="/img/sns/facebook.svg" alt="페이스북"></a></li>
            <li><a href="#none"><img src="/img/sns/twitter.svg" alt="X(트위터)"></a></li>
            <li><a href="#none"><img src="/img/sns/youtube.svg" alt="유튜브"></a></li>
        </ul>
    </div>
    <div class="footerBottom d-flex justify-content-between align-items-end">
        <div class="footerInfo01 d-flex gap-40">
                <h3>
                    <a href="/" class="d-block"><img src="/img/logo/footerLogo.svg" alt="유니버스 엔터테인먼트 하단 로고 입니다">
                    </a>
                </h3>
                <div class="infoText d-flex flex-column gap-10">
                    <ul class="d-flex gap-10">
                        <li>유니버스 엔터테인먼트(UNIVERSEENTERTAINMENT)</li>
                        <li>대표자 : 김유니</li>
                        <li>주소 : 서울특별시 강남구 테헤란로 123, 유니버스 엔터 건물</li>
                        <li>대표번호 : 1234-5678</li>
                    </ul>
                    <ul class="d-flex gap-10">
                        <li>사업자등록번호 : 012-34-56789</li>
                        <li>통신판매업 신고번호 : 제0987-서울강남-65432호</li>
                        <li>개인정보보호책임자 : 김버스 / kimverse@universe.com</li>
                    </ul>
                    <ul>
                        <li>호스팅 제공자 : (주)닷홈</li>
                    </ul>
                </div>
        </div>
        <div class="footerInfo02">
            <p>©UNIVERSE ENTERTAINMENT ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</footer>



<!-- 1280 푸터 -->
<section id="footer-1280" class="d-none d-xl-block">
    <div class="footerTop d-flex justify-content-between align-items-center">
        <ul class="footerLink d-flex">
            <li><a href="#none">제휴문의</a></li>
            <li><a href="#none">이용약관</a></li>
            <li><a href="#none">개인정보처리방침</a></li>
        </ul>
        <ul class="footerSns d-flex gap-3">
            <li><a href="#none"><img src="/img/sns/facebook.svg" alt="페이스북"></a></li>
            <li><a href="#none"><img src="/img/sns/twitter.svg" alt="X(트위터)"></a></li>
            <li><a href="#none"><img src="/img/sns/youtube.svg" alt="유튜브"></a></li>
        </ul>
    </div>
    <div class="footerBottom d-flex justify-content-between align-items-end">
        <div class="footerInfo01 d-flex gap-40">
            <h3>
                <a href="/" class="d-block"><img src="/img/logo/footerLogo.svg" alt="유니버스 엔터테인먼트 하단 로고 입니다">
                </a>
            </h3>
            <ul class="infoText d-flex flex-column gap-10">
                <li>유니버스 엔터테인먼트(UNIVERSEENTERTAINMENT)</li>
                <li>대표자 : 김유니</li>
                <li>주소 : 서울특별시 강남구 테헤란로 123, 유니버스 엔터 건물</li>
                <li>대표번호 : 1234-5678</li>
                <li>사업자등록번호 : 012-34-56789</li>
                <li>통신판매업 신고번호 : 제0987-서울강남-65432호</li>
                <li>개인정보보호책임자 : 김버스 / kimverse@universe.com</li>
                <li>호스팅 제공자 : (주)닷홈</li>
            </ul>
        </div>
        <div class="footerInfo02">
            <p>©UNIVERSE ENTERTAINMENT ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</section>



<!-- M 푸터 100% -->
<section id="m-footer" class="d-block d-xl-none">
    <div class="m-footerBox d-flex flex-column align-items-center gap-40">
        <div class="info01 d-flex flex-column align-items-center gap-20">
            <ul class="footerLink d-flex justify-content-center align-items-center">
                <li><a href="#none">제휴문의</a></li>
                <li><a href="#none">이용약관</a></li>
                <li><a href="#none">개인정보처리방침</a></li>
            </ul>
            <h3>
                <a href="/"><img src="/img/logo/footericon.svg" alt="유니버스 엔터테인먼트 하단 로고 입니다"></a>
            </h3>
        </div>
        <ul class="info02 d-flex flex-column gap-10 text-center flex-wrap">
            <li>
                <ul class="text01 d-flex justify-content-center gap-10 flex-wrap">
                    <li class="t01">회사명 : 유니버스 엔터테인먼트<br class="disN">(UNIVERSE ENTERTAINMENT)</li>
                    <li>대표자 : 김유니</li>
                </ul>
            </li>
            <li>
                <ul class="text02 d-flex justify-content-center gap-10 flex-wrap">
                    <li>주소 : 서울특별시 강남구 테헤란로 123, 유니버스 엔터 건물</li>
                    <li>대표번호 : 1234-5678</li>
                </ul>
            </li>
            <li>사업자등록번호 : 012-34-56789</li>
            <li>통신판매업 신고번호 : 제0987-서울강남-65432호</li>
            <li>개인정보보호책임자 : 김버스 / kimverse@universe.com</li>
            <li>호스팅 제공자 : (주)닷홈</li>
            <li>COPYRIGHT©UNIVERSE ENTERTAINMENT ALL RIGHTS RESERVED.</li>
        </ul>
        <ul class="footerSns d-flex gap-3">
            <li><a href="#none"><img src="/img/sns/facebook.svg" alt="페이스북"></a></li>
            <li><a href="#none"><img src="/img/sns/twitter.svg" alt="X(트위터)"></a></li>
            <li><a href="#none"><img src="/img/sns/youtube.svg" alt="유튜브"></a></li>
        </ul>
    </div>
</section>



<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c2b8577eae07dbd943578b270ab6c20a"></script>
<script src="/js/swiper-11.1.14/package/swiper-bundle.min.js"></script>
<script src="/js/fullcalendar-6.1.10/dist/index.global.js"></script>
<script src="/js/plugin.js"></script>
<script src="/js/plugin_sub.js"></script>
<script src="/js/sub.js"></script>
<script src="/js/main.js"></script>

</body>

</html>