@charset "UTF-8";
@import './_var.scss';



#main{
    position: relative;
    transform: translateY(-80px);
    z-index: 2;


    // 메인 배너 슬라이드
    #mainBanner{
        #main-banner{
            width: 100%;
            height: 100%;
            .swiper-wrapper{
                .swiper-slide{
                    position: relative;
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                    p{
                        position: absolute;
                        width: max-content;
                        top: 342px;
                        color: #FFF;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        @include f-80-500-140;
                    }
                    .main01{
                        left: 118px;
                    }
                    .main02{
                        right: 90px;
                    }
                    .main03{
                        left: 131px;
                    }
                    .main04{
                        right: 143px;
                        
                    }
                }
                .swiper-slide.swiper-slide-active{
                    .main_banner_Ani{
                        animation: mainText-ani 0.8s .8s forwards;
                        opacity: 0;
                    }
                }
            } 
            .swiper-pagination{
                bottom: 100px;
            }
            .swiper-pagination-bullet {
                @include swiPagBul-fff;
            }
            .swiper-pagination-bullet-active {
                @include swiPagBulAct-fff;
            }
            .swiper-button-prev{
                @include swiperPrevBtn-fff;
                left: 2%;
                &::after{
                    content: '';
                }
            }
            .swiper-button-next{
                @include swiperNextBtn-fff;
                right: 2%;
                &::after{
                    content: '';
                }
            }
        }
    }


    // 유니버스 소개
    #introduction{
        color: #fff;
        text-align: center;
        background-color: #333;
        padding: 160px 0;
        .title{
            h2{
                // @include f-50-700-72;
                font-size: 50px;
                font-weight: 700;
                line-height: 72px;
                color: #333;
                transition: all 0.5s ease;
                // text-transform: uppercase;
                span{
                    display: inline-block;
                    color: #333;
                    opacity: 0;
                }
            }
            p{
                font-size: 1.25rem;
                font-weight: 500;
            }
        }
    }


    // 아티스트 슬라이드
    #artist{
        padding: 100px 0;
        color: #FFF;
        background: url("/img/main/bg01.jpg") no-repeat 80% 0 / cover;
        .title{
            h2{
                @include titleH2;
            }
            p{
                @include subTitleP;
            }
        }
        .artistBox{
            overflow: hidden;
            width: 100%;
            position: relative;
            #artist-slide{
                width: 100%;
                .swiper-wrapper{
                    height: 100vh;
                    padding: 60px 0 72px;
                    .swiper-slide {
                        opacity: 0;
                        &.swiper-slide-active {
                            transform: scale(1.6) !important;
                            background-size: 100% !important;
                            opacity: 1;
                        }
                        &.swiper-slide-prev {
                            transform: scale(1.8) translate(-5%, 0) !important;
                            background-size: 100% !important;
                            opacity: 0.2;
                        }
                        &.swiper-slide-next {
                            transform: scale(1.8) translate(5%, 0) !important;
                            background-size: 100% !important;
                            opacity: 0.2;
                        }
                    }
                }
                .artist01{
                    background: url('/img/main/artist01.png') no-repeat center / cover;
                }
                .artist02{
                    background: url('/img/main/artist02.png') no-repeat center / cover;
                }
                .artist03{
                    background: url('/img/main/artist03.png') no-repeat center / cover;
                }
                .artist04{
                    background: url('/img/main/artist04.png') no-repeat center / cover;
                }
                .artist05{
                    background: url('/img/main/artist05.png') no-repeat center / cover;
                }
                .swiper-pagination-bullets.swiper-pagination-horizontal{
                    bottom: 0;
                }
                .swiper-pagination-bullet {
                    @include swiPagBul-fff;
                }
                .swiper-pagination-bullet-active {
                    @include swiPagBulAct-fff;
                }
                .swiper-button-prev{
                    @include swiperPrevBtn-fff;
                    left: 2%;
                    &::after{
                        content: '';
                    }
                }
                .swiper-button-next{
                    @include swiperNextBtn-fff;
                    right: 2%;
                    &::after{
                        content: '';
                    }
                }
            }
        }
    }


    // 스케줄 달력
    #schedule{
        background-color: #333;
        color: #FFF;
        padding: 100px 0px;
        .title{
            h2{
                @include titleH2;
            }
            p{
                @include subTitleP;
            }
        }
        .schedule-artist{
            .schedule-name{
                margin: 60px 0;
                .nav-item{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .nav-link{
                        color: #FFF;
                        @include f-24-400-36;
                        padding: 0 76px;
                        border: 0;
                        &.active{
                            background-color: transparent;
                            border: 0;
                            font-weight: 700;
                        }
                        &:hover{
                            border: 0;
                        }
                    }
                    .nav-line{
                        width: 1px;
                        height: 20px;
                        background-color: #fff;
                    }
                }
            }
            #scheduleTabContent{
                max-width: 1280px;
                width: 100%;
                margin: 0 auto;
                &> .active{
                    display: flex;
                    flex-direction: column;
                }
                .tab-pane{
                    .artist-schedule{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 15px 44px 15px 32px;
                        background-color: #fff;
                        border-radius: 20px 20px 0px 0px;
                        span{
                            color: #000;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 36px;
                        }
                        img{
                            width: 94px;
                        }
                    }
                    .artist-schedule-m01{
                        display: none;
                        justify-content: space-between;
                        align-items: center;
                        padding: 6px 10px;
                        background-color: #fff;
                        border-radius: 10px 10px 0px 0px;
                        @include f-18-400-26;
                        color: #000;
                        margin-bottom: 20px;
                        .artistImg{
                            width: 50px;
                        }
                        .text{
                            color: #900404;
                        }
                        .scheduleMoreBtnMin{
                            color: #000;
                            gap: 4px;
                            @include f-16-700-24;
                        }
                    }
                    .artist-schedule-m02{
                        display: none;
                        justify-content: space-between;
                        align-items: center;
                        padding: 6px 10px;
                        background-color: #fff;
                        border-radius: 10px 10px 0px 0px;
                        @include f-18-400-26;
                        color: #000;
                        margin: 26px 0 20px;
                        .artistImg{
                            width: 50px;
                            opacity: 0;
                        }
                        .text{
                            color: #900404;
                        }
                        .scheduleMoreBtnMin{
                            color: #000;
                            gap: 4px;
                            @include f-16-700-24;
                        }
                    }
                    #calendar02,
                    #calendar04,
                    #calendar06,
                    #calendar08,
                    #calendar10{
                        border-radius: 0 0 20px 20px;
                    }
                    .week01,
                    .week02,
                    .week03,
                    .week04,
                    .week05,
                    .week06,
                    .week07,
                    .week08,
                    .week09,
                    .week10{
                        width: 100%;
                        color: #000;
                        background-color: #fff;
                        margin-top: 28px;
                        padding: 16px 0 30px 30px;
                        h4{
                            @include f-24-700-36;
                            text-transform: uppercase;
                        }
                        .weekDate{
                            @include f-16-700-24;
                            .scheduleText{
                                margin: 20px 0 10px;
                                .dateTextDday{
                                    width: 60px;
                                    height: 26px;
                                    border-radius: 30px;
                                    background-color: #DFDFDF;
                                }
                            }
                            .scheduleCount{
                                width: 42px;
                                line-height: 36px;
                                border-radius: 30px;
                                background: #FF5858;
                                margin: 0 20px 0 6px;
                                color: #fff;
                            }
                            .scheduleMoreBtn{
                                width: 100px;
                                line-height: 38px;
                                border-radius: 30px;
                                border: 1px solid #767676;
                                color: #767676;
                                &:hover{
                                    color: #fff;
                                    background-color: #000;
                                    border: 1px solid #000;
                                }
                                &:hover img{
                                    content: url('/img/icon/btn-more-white-plus.svg');
                                }
                            }
                        }
                    }
                    .calendar-container {
                        max-width: 1280px;
                        color: #000;
                        background-color: #fff;
                    }
                    .calendar-container .fc-daygrid-day.fc-day-today {
                        background-color: transparent !important;
                    }
                    .calendar-container .fc-daygrid-day-top {
                        display: block;
                        height: 150px;
                        line-height: 150px;
                        text-align: center;
                        cursor: pointer;
                    }
                    .calendar-container .fc-daygrid-day-number {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 50px;
                        text-align: center;
                    }
                    .calendar-container .fc-daygrid-day.fc-day-today .fc-daygrid-day-top > a {
                        border: solid 2px #333;
                        padding: 30px;
                        border-radius: 50%;
                        font-weight: bold;
                    }
                    .calendar-container .fc-col-header,
                    .calendar-container .fc-scroller.fc-scroller-liquid-absolute,
                    .calendar-container .fc-daygrid-body.fc-daygrid-body-unbalanced,
                    .calendar-container .fc-scrollgrid-sync-table{
                        width: 100% !important;
                    }
                    .calendar-container .fc-col-header-cell-cushion {
                        display: block;
                        @include f-24-700-50;
                    }
                    .calendar-container .fc-daygrid-body table tbody tr[role="row"]:not(:nth-child(1)),
                    .calendar-container .fc-toolbar.fc-header-toolbar,
                    .calendar-container .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
                        display: none;
                    }
                    .calendar-container .fc-scroller-liquid-absolute,
                    .calendar-container .fc-scroller {
                        overflow: hidden !important;
                    }
                    .calendar-container .fc-daygrid-day-top > a.eventText {
                        border: solid 2px #f86666;
                        padding: 30px;
                        border-radius: 50%;
                        font-weight: bold;
                    }
                    .fc-theme-standard td,
                    .fc-theme-standard th,
                    .fc-scrollgrid-liquid {
                        border: 0 !important;
                    }
                    .fc-view-harness {
                        height: 200px !important;
                    }
                }
            }
        }
    }


    // PC 릴리즈 슬라이드
    #release{
        color: #fff;
        background: url('/img/main/bg02.jpg') rgba(0, 0, 0, 0.7) no-repeat 0 40% / cover;
        background-blend-mode: overlay;
        padding: 100px 0;
        .title{
            h2{
                @include titleH2;
            }
            p{
                @include subTitleP;
            }
        }
        #release-slide{
            max-width: 1280px;
            height: 780px;
            padding: 60px 0;
            .swiper-wrapper{
                .swiper-slide{
                    opacity: 0;
                    &.swiper-slide-active {
                        opacity: 1;
                        transform: scale(1.5) !important;
                        .releaseInfo{
                            background: url('/img/main/release-bg01.png') no-repeat center / contain;
                            transform: scale(1.5) translate(0, 42%);
                            h3{
                                color: #fff !important;
                                transform: scale(0.65) translate(0, -52%);
                            }
                            p{
                                transform: scale(0.45) translate(0, -250%);
                            }
                            a{
                                display: block;
                                img{
                                    width: 100px !important;
                                    height: 100px !important;
                                    transform: scale(1.8) translate(0, -36%) !important;
                                }
                            }
                        }
                    }
                    &.swiper-slide-prev {
                        transform: scale(1) translate(0, 5%) !important;
                        opacity: 1;
                    }
                    &.swiper-slide-next {
                        transform: scale(1) translate(0, 5%) !important;
                        opacity: 1;
                    }
                    .releaseInfo{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        h3{
                            padding: 60px 0 10px;
                            color: #767676;
                            @include f-16-700-24;
                            text-transform: uppercase;
                        }
                        p{
                            padding-bottom: 50px;
                            color: #767676;
                            @include f-16-700-24;
                        }
                        img{
                            width: 300px;
                            height: 300px;
                        }
                    }
                }
            }
            .swiper-pagination-bullets.swiper-pagination-horizontal{
                margin-bottom: 40px;
            }
            .swiper-pagination-bullet {
                @include swiPagBul-fff;
            }
            .swiper-pagination-bullet-active {
                @include swiPagBulAct-fff;
            }
            .swiper-button-prev{
                @include swiperPrevBtn-fff;
                left: 2%;
                &::after{
                    content: '';
                }
            }
            .swiper-button-next{
                @include swiperNextBtn-fff;
                right: 2%;
                &::after{
                    content: '';
                }
            }
        }
        .releaseMoreBtn{
            display: block;
            width: 220px;
            line-height: 48px;
            color: #767676;
            font-size: 1rem;
            font-weight: 400;
            border-radius: 30px;
            border: 1px solid #767676;
            margin-top: 60px;
            &:hover{
                color: #EDEDED;
                border: 1px solid #EDEDED;
            }
        }
    }
    // M 릴리즈 슬라이드
    #m-release{
        display: none;
        position: relative;
        background-color: #232323;
        padding: 100px 0;
        height: 1000px;
        .title{
            color: #fff;
            text-transform: uppercase;
            h2{
                @include f-36-700-52;
            }
            p{
                font-size: 1rem;
                font-weight: 500;
            }
        }
        #m-release-slide{
            max-width: 540px;
            left: 50%;
            top: 36%;
            margin-left: -28%;
            margin-top: -100px;
            .swiper-wrapper{
                .swiper-slide{
                    h3{
                        color: #fff;
                        @include f-18-700-26;
                    }
                    p{
                        color: #767676;
                        @include f-18-400-26;
                        margin-bottom: 30px;
                    }
                    a{
                        display: block;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
            .swiper-pagination-bullet {
                @include swiPagBul-fff;
            }
            .swiper-pagination-bullet-active {
                @include swiPagBulAct-fff;
            }
        }
        .releaseMoreBtn{
            display: block;
            width: 220px;
            line-height: 48px;
            color: #767676;
            font-size: 1rem;
            font-weight: 400;
            border-radius: 30px;
            border: 1px solid #767676;
            margin-top: 60px;
            &:hover{
                color: #EDEDED;
                border: 1px solid #EDEDED;
            }
        }
    }
    


    // 굿즈
    #goods{
        color: #fff;
        padding: 100px 0 20px;
        .title{
            h2{
                @include titleH2;
            }
            p{
                @include subTitleP;
            }
        }
        .gallery-wrap{
            display: flex;
            justify-content: space-between;
            max-width: 1280px;
            gap: 20px;
            margin-top: 60px;
            .item-1,
            .item-3{
                background-color: #404040;
            }
            .item-2,
            .item-4{
                background-color: #fff;
            }
            .item{
                width: 24%;
                height: 500px;
                transition: width 0.6s ease;
                border-radius: 10px;
                position: relative;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .gallery-dim{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.70);
                    backdrop-filter: blur(3px);
                    opacity: 0; /* 기본 상태에서 보이지 않음 */
                    transition: opacity 0.4s ease; /* 자연스러운 전환 효과 */
                    border-radius: 10px;
                    &.show{
                        opacity: 1;
                        p,
                        .goodsBtn{
                            opacity: 1;
                            transition-delay: 0.1s;
                        }
                    }
                    p{
                        color: #FFF;
                        text-align: center;
                        @include f-24-700-36;
                        opacity: 0;
                        transition: opacity 0.6s ease;
                    }
                    .goodsBtn{
                        opacity: 0;
                        transition: opacity 0.6s ease;
                        gap: 8px;
                        span{
                            color: #fff;
                            text-align: center;
                            font-size: 1rem;
                            font-weight: 700;
                            line-height: 36px;
                        }
                    }
                }
                .itemImg1,
                .itemImg2,
                .itemImg3,
                .itemImg4 {
                    object-fit: cover;
                    transition: width 0.6s ease; /* width가 자연스럽게 변하도록 전환 시간 설정 */
                }

                .itemImg1 {
                    width: 80%;
                    &.stretchImg {
                        width: 60%;
                    }
                }

                .itemImg2 {
                    width: 50%;
                    &.stretchImg {
                        width: 34%;
                    }
                }

                .itemImg3 {
                    width: 36%;
                    &.stretchImg {
                        width: 20%;
                    }
                }

                .itemImg4 {
                    width: 80%;
                    &.stretchImg {
                        width: 60%;
                    }
                }
            }
        }
        .goodsMoreBtn{
            width: 220px;
            line-height: 48px;
            color: #767676;
            font-size: 1rem;
            font-weight: 400;
            border-radius: 30px;
            border: 1px solid #767676;
            margin-top: 60px;
            &:hover{
                color: #EDEDED;
                border: 1px solid #EDEDED;
            }
        }
    }



    // 메인 하단 인포
    #mainInfo{
        background: url('/img/main/bg03.jpg') no-repeat center / cover;
        position: relative;
        transform: translateY(80px);
        .mainInfoList{
            max-width: 1280px;
            margin: 0 auto;
            padding: 100px 0;
            .notice{
                padding: 24px 0 20px;
                .mainInfoTitle{
                    padding: 0 40px;
                    li{
                        @include f-16-700-24;
                        color: #000;
                        .mainInfoMoreBtn{
                            color: #000;
                            gap: 4px;
                        }
                    }
                }
                .mainInfoLine{
                    display: block;
                    width: 330px;
                    height: 1px;
                    background-color: #000;
                    margin: 22px auto 20px;
                }
                .noticeContent{
                    gap: 30px;
                    > li{
                        .mainInfoText{
                            @include f-16-400-24;
                            padding: 0 40px;
                            color: #000;
                            li{
                                a{
                                    width: 230px;
                                    color: #000;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                }
                            }
                        }
                    }
                }
            }
            > li{
                width: 30%;
                background-color: #fff;
            }
            .multimedia{
                padding: 24px 0 20px;
                .mainInfoTitle{
                    padding: 0 40px;
                    color: #000;
                    li{
                        @include f-16-700-24;
                        color: #000;
                        .mainInfoMoreBtn{
                            color: #000;
                            gap: 4px;
                        }
                    }
                }
                .mainInfoLine{
                    display: block;
                    width: 330px;
                    height: 1px;
                    background-color: #000;
                    margin: 22px auto 20px;
                }
                .mediaInfo{
                    padding: 20px 35px 10px;
                    > li{
                        font-size: .875rem;
                        font-weight: 400;
                        color: #000
                    }
                    .mediaTitle{
                        @include f-16-700-24;
                    }
                    .mediaPlay{
                        margin-top: 10px;
                        gap: 6px;
                    }
                    .shareBtn{
                        color: #000;
                    }
                }
                .hashtagText{
                    color: #000;
                    font-size: .875rem;
                    font-weight: 400;
                    padding: 0px 35px;
                    gap: 4px;
                }
            }
            .vive{
                padding: 24px 0 20px;
                .mainInfoTitle{
                    padding: 0 40px;
                    color: #000;
                    li{
                        @include f-16-700-24;
                        color: #000;
                        .mainInfoMoreBtn{
                            color: #000;
                            gap: 4px;
                        }
                    }
                }
                .mainInfoLine{
                    display: block;
                    width: 330px;
                    height: 1px;
                    background-color: #000;
                    margin: 22px auto 20px;
                }
                .vive-wrap{
                    padding: 0 40px;
                    .viveBox01{
                        gap: 18px;
                        .img01{
                            width: 170px;
                            height: 170px;
                            img{
                                width: 100%;
                            }
                        }
                    }
                    .viveTextBox{
                        color: #000;
                        .viveText01{
                            @include f-24-700-36;
                        }
                        .viveText02{
                            @include f-16-700-24;
                        }
                        .viveText03{
                            @include f-14-400-20;
                        }
                    }
                    .vivePlayBtn{
                        display: block;
                        width: 62px;
                        height: 28px;
                        background-color: #000;
                        border-radius: 5px;
                        gap: 5px;
                        margin-top: 10px;
                    }
                    .vivePlayText{
                        color: #fff;
                        @include f-14-400-20;
                    }
                    .viveBox02{
                        margin-top: 24px;
                        .viveText02{
                            @include f-16-700-24;
                            color: #000;
                        }
                        .viveImg{
                            margin-top: 10px;
                            width: 226px;
                            height: 116px;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }                 
        }
    }

    // 메인 하단 인포 팝업
    #shareModal{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 999;
        .sharePopup{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 330px;
            height: 114px;
            background-color: #fff;
            padding: 26px 30px 14px 20px;
            border-radius: 10px;
            z-index: 9999;
            p{
                color: #000;
                @include f-14-400-20;
            }
            .shareCloseBtn{
                color: #000;
                @include f-16-400-24;
                margin-top: 30px;
                margin-left: 88%;
            }
        }
    }
}


// 서브 페이지 오디션
#audition{
    background-color: #000;
    .audition-banner{
        background: url('/img/subAudition/bg.jpg') no-repeat center / cover;
    }
}

// 서브 페이지 마이페이지
#mypage{
    background-color: #000;
    height: 100vh;
    .mypage-banner{
        width: 100%;
        max-width: 1920px;
        position: relative;
        background: url('/img/subMypage/bg.jpg') no-repeat center / cover;
        height: 430px;
        &::before { 
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(106, 106, 106, 0.5);
            z-index: 1;
        }
        .banner-text{
            color: #fff; 
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            z-index: 2;
            padding: 6.25rem 0;
            text-transform: uppercase;
            .title{
                @include f-50-72-700;
                padding-bottom: 0.625rem;
            } 
            .sub-title{
                @include f-24-36-700;
                padding-bottom: 2.5rem; 
            }
            .detail{
                @include f-16-24-400;
            }
        }
    }
}


// 서브 페이지 멤버십
#membership{
    background-color: #000;
    height: 100vh;
    .membership-banner{
        width: 100%;
        max-width: 1920px;
        position: relative;
        background: url('/img/subMembership/bg.jpg') no-repeat center / cover;
        height: 430px;
        &::before { 
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(106, 106, 106, 0.4);
            z-index: 1;
        }
        .banner-text{
            color: #fff; 
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            z-index: 2;
            padding: 6.25rem 0;
            text-transform: uppercase;
            .title{
                @include f-50-72-700;
                padding-bottom: 0.625rem;
            } 
            .sub-title{
                @include f-24-36-700;
                padding-bottom: 2.5rem; 
            }
            .detail{
                @include f-16-24-400;
            }
        }
    }
}

// 서브 페이지 제품상세
#product{
    background-color: #000;
    height: 100vh;
    .product-banner{
        width: 100%;
        max-width: 1920px;
        position: relative;
        background: url('/img/subProduct/bg.jpg') no-repeat center / cover;
        height: 430px;
        &::before { 
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(106, 106, 106, 0.4);
            z-index: 1;
        }
        .banner-text{
            color: #fff; 
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            z-index: 2;
            padding: 6.25rem 0;
            text-transform: uppercase;
            .title{
                @include f-50-72-700;
                padding-bottom: 0.625rem;
            } 
            .sub-title{
                @include f-24-36-700;
                padding-bottom: 2.5rem; 
            }
            .detail{
                @include f-16-24-400;
            }
        }
    }
}

// 서브 페이지 리뷰
#review{
    background-color: #000;
    height: 100vh;
    .review-banner{
        width: 100%;
        max-width: 1920px;
        position: relative;
        background: url('/img/subReview/bg.jpg') no-repeat center / cover;
        height: 430px;
        &::before { 
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(106, 106, 106, 0.4);
            z-index: 1;
        }
        .banner-text{
            color: #fff; 
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            z-index: 2;
            padding: 6.25rem 0;
            text-transform: uppercase;
            .title{
                @include f-50-72-700;
                padding-bottom: 0.625rem;
            } 
            .sub-title{
                @include f-24-36-700;
                padding-bottom: 2.5rem; 
            }
            .detail{
                @include f-16-24-400;
            }
        }
    }
}

// 서브 페이지 장바구니
#cart{
    background-color: #000;
    height: 100vh;
    .cart-banner{
        width: 100%;
        max-width: 1920px;
        position: relative;
        background: url('/img/subCart/bg.jpg') no-repeat center / cover;
        height: 430px;
        &::before { 
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(106, 106, 106, 0.4);
            z-index: 1;
        }
        .banner-text{
            color: #fff; 
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            z-index: 2;
            padding: 6.25rem 0;
            text-transform: uppercase;
            .title{
                @include f-50-72-700;
                padding-bottom: 0.625rem;
            } 
            .sub-title{
                @include f-24-36-700;
                padding-bottom: 2.5rem; 
            }
            .detail{
                @include f-16-24-400;
            }
        }
    }
}

@keyframes mainText-ani {
	0% {
        transform: translateY(100px); 
        opacity: 0;
    }
	100% {
        transform: translateY(0px); 
        opacity: 1;
    }
}