// 믹스인
@import './_var.scss';

@mixin goods ($width: 60%) {
    width: $width;
    height: auto;
    transition: all 0.4s ease-in-out;
    &:hover{
        width: calc($width + 10%);
    }   
}

// 공통스타일
.input_container{
    width: 100%;
    height: 52px;
    padding: 0 20px;
    @include f-16-24-400;
    color: #000;
    border: solid 1px #767676;
    border-radius: 10px;
    ::placeholder{
        color: #A4A4A4;
    }
}
.select_container{
    position: relative;
    width: 100%;
    height: 52px;
    padding: 0 20px;
    @include f-16-24-400;
    color: #000;
    border: solid 1px #767676;
    border-radius: 10px;
    ::placeholder{
        color: #A4A4A4;
    }
    .selected {
        background-color: #f0f0f0; /* 선택된 상태의 배경색 */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
    }
    .options {
        display: none; /* 옵션 숨김 */
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        width: 100%;
        z-index: 1;
        div {
            padding: 10px;
            cursor: pointer;
            &:hover {
                background-color: #f0f0f0; /* 마우스 오버 시 배경색 */
            }
        }
    }
}
.btn_container{
    display: block;
    height: 52px;
    width: 100%;
    border-radius: 10px;
    color: #A4A4A4;
    background-color: #EDEDED;
    @include f-16-24-500;
}
.btn_container.able{
    display: block;
    height: 52px;
    width: 100%;
    border-radius: 10px;
    color: #fff;
    background-color: #333;
    @include f-16-24-500;
}
.required_info_left::before,
.required_info_right::after{
    content: '';
    background: url('/img/icon/star.svg') center / cover no-repeat;
    width: 8px;
    height: 8px;
}
.gap_4{
    gap: 4px
}

// PC 스타일
#subGoods{
    @include subPage (#fff, 'subGoods/subGoodsTopBanner');
    a{
        color: #fff;
    }
    #bestBox{
        width: 100%;
        max-width: 1280px;
        gap: 60px;
        .swiper.mySwiper{
            width: 100%;
            .swiper-wrapper{
                .swiper-slide{
                    width: calc((100% - 20px) / 2);
                    height: 630px;
                    border-radius: 20px;
                    overflow: hidden;
                    a{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        .likeBtn{
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            justify-content: center;
                            cursor: pointer;
                            transition: all 0.4s ease-in-out;
                            z-index: 3;
                            > img{
                                display: block;
                                width: 48px;
                                height: 48px;
                                object-fit: cover;
                            }
                        }
                        &:hover .likeBtn{
                            display: flex;
                        }
                        > img{
                            width: 100%;
                            transition: all 0.4s ease-in-out;
                        }
                        &:hover > img{
                            transform: scale(1.1);
                        }
                        .bestInfo{
                            width: 100%;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            transform: translateY(100%); /* 완전히 보이지 않게 아래로 이동 */
                            overflow: hidden;
                            background-color: #333;
                            padding: 20px 40px;
                            border-radius: 20px;
                            transition: all 0.4s ease-in-out;
                            @include f-24-400-36;
                        }
                        &:hover .bestInfo{
                            transform: translateY(0); /* hover 시 위로 올라와 a 태그의 bottom에 맞도록 */
                        }
                    }
                }
            }
            .swiperAttachedBtn{
                display: flex;
                justify-content: center;
                align-items: center;
                .nextBtn{
                    border-radius: 0 6px 6px 0;
                    padding: 4px 7px 4px 8px;
                    background-color: #333;
                }
                .prevBtn{
                    border-radius: 6px 0 0 6px;
                    padding: 4px 8px 4px 7px;
                    background-color: #333;
                }
            }
        }
    }
    #contentBox{
        width: 100%;
        max-width: 1280px;
        text-align: center;
        gap: 60px;
        .artist{
            gap: 40px;
            padding: 40px 20px;
            box-sizing: border-box;
            border-radius: 20px;
            background-color: #333;
            position: relative;
            h3{
                color: #fff;
                @include f-24-700-36;
            }
            .moreBtn{
                gap: 4px;
                position: absolute;
                top: 49px;
                right: 20px;
            }
            ul{
                li{
                    width: calc((100% - 40px) / 3);
                    a{
                        gap: 20px;
                        .likeBtn{
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            display: none;
                            align-items: center;
                            justify-content: center;
                            width: 36px;
                            height: 36px;
                            // background-color: rgb(0, 0, 0, 0.6);
                            border-radius: 50%;
                            cursor: pointer;
                            transition: all 0.4s ease-in-out;
                            z-index: 3;
                            > img{
                                display: block;
                                width: 24px;
                                height: 24px;
                                object-fit: cover;
                            }
                        }
                        &:hover .likeBtn{
                            display: flex;
                        }
                        .goodsContainer{
                            position: relative;
                            width: 100%;
                            height: 420px;
                            border-radius: 20px;
                            overflow: hidden;
                            background-color: #ededed;
                        }
                        span:last-child{
                            .itemName{
                                @include f-16-400-24;
                            }
                            .itemPrice{
                                @include f-16-500-24;
                            }
                        }
                    }
                }
            }
        }
        .byeon{
            ul{
                li{
                    a{
                        .goods01{
                            img{
                            @include goods (36%);
                            }
                        }
                    }
                    a{
                        .goods02{
                            img{
                                @include goods (54%);
                            }
                        }
                    }
                    a{
                        .goods03{
                            img{
                                @include goods (80%);
                            }
                        }
                    }
                }
            }
        }
        .lee{
            ul{
                li{
                    a{
                        .goods01{
                            img{
                                @include goods (70%);
                            }
                        }
                    }
                    a{
                        .goods02{
                            img{
                                @include goods (76%);
                            }
                        }
                    }
                    a{
                        .goods03{
                            img{
                                @include goods (74%);
                            }
                        }
                    }
                }
            }
        }
        .yoon{
            ul{
                li{
                    a{
                        .goods01{
                            img{
                                @include goods (80%);
                            }
                        }
                    }
                    a{
                        .goods02{
                            img{
                                @include goods (66%);
                            }
                        }
                    }
                    a{
                        .goods03{
                            img{
                                @include goods (50%);
                            }
                        }
                    }
                }
            }
        }
        .nam{
            ul{
                li{
                    a{
                        .goods01{
                            img{
                                @include goods (64%);                                
                            }
                        }
                    }
                    a{
                        .goods02{
                            img{
                                @include goods (56%);
                            }
                        }
                    }
                    a{
                        .goods03{
                            img{
                            @include goods (80%);
                            }
                        }
                    }
                }
            }
        }
        .park{
            ul{
                li{
                    a{
                        .goods01{
                            img{
                            @include goods (74%);
                            }
                        }
                    }
                    a{
                        .goods02{
                            img{
                                @include goods (64%);
                            }
                        }
                    }
                    a{
                        .goods03{
                            img{
                                @include goods (78%);
                            }
                        }
                    }
                }
            }
        }
    }
}

#sub_login{
    @include subPage (#fff, 'subLogin/bg');
    .loginContainer{
        width: 500px;
        padding: 80px 0;
        form{
            width: 100%;
            fieldset{
                .firstDiv{
                    width: 100%;
                    .password-container {
                        width: 100%;
                        position: relative;
                        .toggle-password {
                            position: absolute;
                            top: 50%;
                            right: 20px;
                            transform: translateY(-50%);
                            cursor: pointer;
                            width: 24px;
                            height: 24px;
                            z-index: 10; /* z-index 추가 */
                        }
                    }
            
                    .keep_find_box{
                        width: 100%;
                        padding: 0px 20px 0px 16px;
                        .keep_check{
                            .keep_text {
                                color: #A4A4A4;
                            }
                            .keep_text::before {
                                content: '';
                                background: url('/img/icon/radioUnChecked.svg') center / cover no-repeat;
                                width: 28px;
                                height: 28px;
                            }
                            .input_keep:checked + .keep_text::before {
                                background: url('/img/icon/radioChecked.svg') center / cover no-repeat; /* 체크된 상태 이미지 */
                            }
                            .input_keep:checked + .keep_text {
                                color: #333;
                            }
                        }
                        .find_wrap{
                            li:first-child{
                                &::after{
                                    content: '';
                                    width: 1px;
                                    height: 16px;
                                    display: inline-block;
                                    background-color: #A4A4A4;
                                    margin: 5px 8px 3px;
                                }
                            }
                            a{
                                color: #A4A4A4;
                            }
                        }
                    }
                }
                .secondDiv{
                    p{
                        span{
                            color: #A4A4A4;
                            @include f-16-24-400;
                            a{
                                color: #A4A4A4;
                                @include f-16-24-500;
                                border-bottom: solid 1px #A4A4A4;
                            }
                        }
                    }
                }
                .thirdDiv{
                    p{
                        color: #A4A4A4;
                        &::before,
                        &::after{
                            content: '';
                            width: 155px;
                            height: 1px;
                            background-color: #A4A4A4;
                            display: inline-block;
                        }
                    }
                    button{
                        height: 52px;
                        border-radius: 10px;
                        img{
                            width: 28px;
                            height: 28px;
                        }
                        span{
                            @include f-16-24-500;
                        }
                    }
                    .google-login{
                        background-color: #fff;
                        border: solid 1px #EDEDED;
                    }
                    .kakao-login{
                        background-color: #FEE500;
                    }
                    .naver-login{
                        background-color: #03C75A;
                        span{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

#sub_find{
    @include subPage (#fff, 'subLogin/bg');
    .findContainer{
        width: 500px;
        padding: 80px 0;
        .nav{
            .nav-item{
                width: 240px;
                .nav-link{
                    width: 100%;
                    height: 52px;
                    border-radius: 10px;
                    background-color: #EDEDED;
                    color: #A4A4A4;
                    &.active{
                        background-color: #333;
                        color: #fff;
                    }
                }
            }
        }
        #find_tab_contents{
            width: 100%;
            .tab-pane{
                .by_num::after{
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: #EDEDED;
                }
                li{
                    form{
                        fieldset{
                            legend{
                                text-align: center;
                            }
                            > div{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

#sub_review{
    @include subPage (#fff, 'subReview/bg');
    .sub_review_container{
        width: 100%;
        max-width: 1280px;
        .tab-content{
            .tab-pane{
                ul{
                    li{
                        .sub_review_order_info{
                            padding: 20px 0;
                            > span:first-child{
                                @include f-24-36-400;
                            }
                            > span:last-child{
                                color: #A4A4A4;
                            }
                        }
                        .sub_review_order_goods{
                            padding: 30px 0;
                            > div{
                                .sub_review_goods_img{
                                    width: 106px;
                                    height: 106px;
                                    background-color: #EDEDED;
                                    border-radius: 6px;
                                    img{
                                        width: 90%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}